# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.o
*.so
*.exe

# Compressed DAWG trees
*.dawg

# Pickled DAWG trees
*.pickle

# ngram models
ngram*.txt

# Training data files
*.pairs
*.tgz
*.zip

# Experimental Python stuff
rnn.py
sudoku.py
locktest.py
ssltest.py
test.py
utils/reykjanes.py

# Utility stuff
diskuse.sh
go.sh
goss.sh

# Various resource files
resources/*.txt
!resources/ordalisti.sorted.txt
!resources/obeygd.hreinsad.txt
resources/*.csv
resources/ord.compressed
#resources/*.tmLanguage
resources/visir/
resources/reykjanes/
mim/
ifd/
gold/
fonts/
logs/
.idea/
node_modules/
cffi_test/
backup/

# Vectors directory
vectors/resources/
vectors/bz2.py
vectors/gensim-0.13.2/
vectors/numpy-1.11.1/
vectors/models/
vectors/t
vectors/test.py

# Files that are symlinked into the vectors directory
vectors/scraperdb.py
vectors/settings.py
vectors/similar.py
vectors/Index.conf

# Minified JavaScript
static/*.min.js

# Scratch work files
*.bin
*.sublime-project
*.sublime-workspace
*.bak
*.profile
*.log
txt
UnknownVerbs.txt
parse.txt
reduce.txt
reduce-dup.txt
input.txt
nohup.out

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
log/
console/

# Virtual environments
venv/
p35/
p358/
p359/
p3510/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
deploy_done.py

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
