# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Compressed DAWG trees
*.dawg

# Pickled DAWG trees
*.pickle

# Various resource files
resources/*.txt
resources/*.csv
resources/*.tmLanguage

# Minified JavaScript
static/*.min.js

# Scratch work files
profile.bin
*.sublime-project
*.sublime-workspace
*.bak
*.profile
txt
UnknownVerbs.txt

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
log/
console/
venv/
pp/
node_modules/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
deploy_done.py

# Secret session key
resources/secret_key.bin

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
