# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
.mypy_cache/
typings/
*.py[cod]
*.o
*.so
*.exe

# Compressed DAWG trees
*.dawg

# Pickled DAWG trees
*.pickle

# ngram models
ngram*.txt

# Mypy
mypy.ini

# Training data files
*.pairs
*.tgz
*.zip
*.tsv

# Experimental Python stuff
rnn.py
sudoku.py
locktest.py
ssltest.py
test.py
utils/reykjanes.py

# Utility stuff
diskuse.sh
go.sh
goss.sh
parse.sh
process.sh
makezip.sh
gfixmain.sh
nnmain.sh

# Various resource files
resources/*.txt
!resources/formers.txt
!resources/last.txt
!resources/ordalisti.sorted.txt
!resources/obeygd.hreinsad.txt
resources/*.csv
resources/ord.compressed
mim/
ifd/
gold/
logs/
.idea/
.vscode/
node_modules/
cffi_test/
backup/

# Vectors directory
vectors/resources/
vectors/bz2.py
vectors/gensim-0.13.2/
vectors/numpy-1.11.1/
vectors/models/
vectors/t
vectors/test.py

# Files that are symlinked into the vectors directory
vectors/db
# vectors/settings.py
vectors/similar.py
vectors/Index.conf

# JavaScript & Node stuff
.eslintrc.js
package-lock.json
package.json

# Scratch work files
*.bin
*.sublime-project
*.sublime-workspace
*.code-workspace
*.bak
*.profile
*.log
txt
UnknownVerbs.txt
parse.txt
reduce.txt
reduce-dup.txt
input.txt
nohup.out
postfile.txt

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
log/
console/
fonts/

# Virtual environments
venv*
p3*/
p7*/
pypy/
pypy*
cpython*/
venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
deploy_done.py

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
.DS_Store

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# API keys (and other text resources)
resources/*
# Allow the geo folder
!resources/geo/

# Ignore audio files generated by speech synthesis
*.mp3
*.wav
*.pcm
*.ogg
*.opus

# Env file
.env

# Coverage test cache
.coverage

