appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
cffi==1.10.0
click==6.7
Flask==0.12
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
psycopg2cffi==2.7.5
pyparsing==2.2.0
readline==6.2.4.1
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.6
Werkzeug==0.12.1
