beautifulsoup4>=4.9.3
werkzeug==2.0.3  # Fix compat with Flask 2.0.1
Flask==2.0.1
flask-caching>=2.0.0
Flask-Cors>=3.0.10
psycopg2cffi==2.9.0
requests==2.26.0
reynir>=3.5.0
reynir-correct>=3.2.0
SQLAlchemy==1.4.23
iceaddr>=0.5.3
country-list>=0.1.1
cityloc>=0.1.1
feedparser==6.0.8
html2text>=2018.1.9
striprtf>=0.0.13
defusedxml>=0.7.1
botocore==1.21.40
boto3==1.18.40
straeto>=1.2.0
pytz>=2019.2
tzwhere>=3.0.3
iceweather>=0.2
cachetools>=3.1.1
rjsmin>=1.1.0
odfpy>=1.4.1
pdfminer.six>=20201018
python-youtube>=0.8.1
azure-cognitiveservices-speech>=1.19.0
