/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('Lato'),
    url("Lato-Regular.woff2") format('woff2'),
    url("Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local('Lato Bold'),
    url("Lato-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: local('Lato Italic'),
    url("Lato-Italic.woff2") format('woff2');
}

body {
  background-color: rgba(249, 249, 249, 1.0);
  font-family: "Lato";
  font-size: 21px;
  /*  text-align: center;*/
  color: rgba(51, 51, 51, 1.0);
}

a {
  color: #E8302C;
}

h1 {
  font-size: 24px;
  margin-top: 4px;
}

h2 {
  font-size: 18px;
  margin-top: 4px;
}

h4 {
  text-align: center;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin: auto;
  display: inline-block;
}

.content ul {
  list-style-type: none;
  padding-left: 0;
}

.content ul li {
  text-align: center;
  font-style: italic;
}