
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="{{ url_for('routes.people_recent') }}">
            Nýlegt
         </a>
      </li>
      <li role="presentation">
         <a href="{{ url_for('routes.people_top') }}">
            Oftast
         </a>
      </li>
      <!--<li role="presentation">
         <a href="{{ url_for('routes.people_graph') }}">
            Vensl
         </a>
      </li>
      <li role="presentation">
         <a href="{{ url_for('routes.people_timeline') }}">
            Tímalína
         </a>
      </li>-->
   </ul>
</div>

<!-- List of people -->
<div role="tabpanel" class="tab-pane active">
   <div class="panel panel-default table-responsive minheight">

      <div class="panel-heading">
         <div class="headline hidden-xs">Fólk í nýlegum fréttum vefmiðla</div>
         <div class="headline visible-xs-inline-block">Nýlega</div>
      </div>

      <div class="table-scroll-wrapper">
      <table class="table table-hover" id="plist">
         <thead>
            <th class="gender">Kyn</th>
            <th>Nafn</th>
            <th>Titill</th>
         </thead>
         <tbody>
      {% for person in persons %}
            <tr class="topitem" data-uuid="{{ person.uuid }}">
         {% if person.gender == 'kk' %}
               <td class="gender" title="Karl"><span class="glyphicon glyphicon-gender-male"></span></td>
               <td class="name"><span class="text-info">{{ person.name }}</span></td>
         {% elif person.gender == 'kvk' %}
               <td class="gender" title="Kona"><span class="glyphicon glyphicon-gender-female"></span></td>
               <td class="name"><span class="text-danger">{{ person.name }}</span></td>
         {% else %}
               <td class="gender"></td>
               <td class="name">{{ person.name }}</td>
         {% endif %}
               <td class="title">{{ person.title }}</td>
            </tr>
      {% endfor %}
         </tbody>
      </table>
      </div>

   </div>
</div>

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='js/common.js') }}"></script>

<script>

   function init() {
      // Activate the top navbar
      $("#navid-people").addClass("active");
      // Enable clicking on a list item
      $("tr.topitem").click(function(ev) {
         // A person name has been clicked: show the article where s/he appears
         var uuid = $(this).attr("data-uuid");
         openURL("{{ url_for('routes.page') }}?id=" + uuid, ev);
      });
   }

   $(document).ready(init);

</script>

{% endblock %}

