
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="{{ url_for('people_top') }}">
            Mest
         </a>
      </li>
      <li role="presentation">
         <a href="{{ url_for('people') }}">
            Nýlegt
         </a>
      </li>
      <!--<li role="presentation">
         <a href="">
            Vensl
         </a>
      </li>
      <li role="presentation">
         <a href="">
            Tímalína
         </a>
      </li>-->
   </ul>
</div>

<div role="tabpanel" class="tab-pane active">

<!-- List of people in the news goes here -->
<div class="panel panel-default table-responsive">
<div class="panel-heading">
   <div class="headline hidden-xs">Fólk sem er mest í fréttum vefmiðla</div>
   <div class="headline visible-xs-inline-block">Fólk</div>

   <div class="btn-group pull-right">
      
      <!-- Period Popup Button -->
      <span class="hidden-xs">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ "Undanfarna viku" if period == 'week' else "Síðasta sólarhring" }} 
            <span class="caret"></span>
         </button>

         <ul class="dropdown-menu">
            <li><a href="{{ url_for('people_top') | safe }}">Síðasta sólarhring</a></li>
            <li><a href="{{ url_for('people_top', period='week') | safe }}">Undanfarna viku</a></li>
         </ul>
      </span>

   </div>


</div>
<table class="table table-hover" id="plist">
   <thead>
      <th class="gender">Kyn</th>
      <th>Nafn</th>
      <th>Titill</th>
   </thead>
   <tbody>
{% for person in persons %}
      <tr class="topitem" data-uuid="{{ person.uuid }}">
   {% if person.gender == 'kk' %}
         <td class="gender" title="Karl"><span class="glyphicon glyphicon-gender-male"></span></td>
         <td class="name"><span class="text-info">{{ person.name }}</span></td>
   {% elif person.gender == 'kvk' %}
         <td class="gender" title="Kona"><span class="glyphicon glyphicon-gender-female"></span></td>
         <td class="name"><span class="text-danger">{{ person.name }}</span></td>
   {% else %}
         <td class="gender"></td>
         <td class="name">{{ person.name }}</td>
   {% endif %}
         <td class="articles">
         {% set width = (person.articles|length / persons[0].articles|length) * 100 %}
            <div class="progress progress-bar loc-progressbar" style="width:{{ width | round | int }}%;">
               <span>{{ person.articles|length }}</span>
            </div>
            <div class="personarticle-items">
               {% for a in person.articles %}
               <span class="art-link" title="{{ a.heading }}"><a href="{{ url_for('page', id=a.id) | safe }}"><img src="{{ url_for('static', filename = 'sources/' + a.domain + '.png') }}"
            width="16" height="16" alt="{{ a.heading }}"/></a></span>
               {% endfor %}
            </div>
         </td>
      </tr>
{% endfor %}
   </tbody>
</table>
</div>

</div>

{% endblock %}

{% block endscripts %}

<script>

   function init() {
      // Activate the top navbar
      $("#navid-people").addClass("active");

      // Toggle showing articles associated with person name
      $("#plist > tbody > tr.topitem").click(function(evt) {
         $(this).find(".personarticle-items").slideToggle(150);
         evt.stopPropagation();
      });
   }

   $(document).ready(init);

</script>

{% endblock %}

