
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
         <a href="{{ url_for('people') }}">
            Nýlegt
         </a>
      </li>
      <li role="presentation" class="active">
         <a href="{{ url_for('people_top') }}">
            Topp
         </a>
      </li>
      <li role="presentation">
         <a href="{{ url_for('people') }}">
            Vensl
         </a>
      </li>
      <li role="presentation">
         <a href="{{ url_for('people') }}">
            Tímalína
         </a>
      </li>
   </ul>
</div>

<div role="tabpanel" class="tab-pane active">

<!-- List of people in the news goes here -->
<div class="panel panel-default table-responsive">
<div class="panel-heading">Fólk í nýlegum fréttum vefmiðla</div>
<table class="table table-hover" id="plist">
   <thead>
      <th class="gender">Kyn</th>
      <th>Nafn</th>
      <th>Titill</th>
   </thead>
   <tbody>
{% for person in persons %}
      <tr class="topitem" data-uuid="{{ person.uuid }}">
   {% if person.gender == 'kk' %}
         <td class="gender" title="Karl"><span class="glyphicon glyphicon-gender-male"></span></td>
         <td class="name"><span class="text-info">{{ person.name }}</span></td>
   {% elif person.gender == 'kvk' %}
         <td class="gender" title="Kona"><span class="glyphicon glyphicon-gender-female"></span></td>
         <td class="name"><span class="text-danger">{{ person.name }}</span></td>
   {% else %}
         <td class="gender"></td>
         <td class="name">{{ person.name }}</td>
   {% endif %}
         <td class="articles">
         {% for a in person.articles %}
               <span class="art-link" title="{{ a.heading }}"><a href="{{ url_for('page', id=a.id) | safe }}"><img src="{{ url_for('static', filename = 'sources/' + a.domain + '.png') }}"
            width="16" height="16" alt="{{ a.heading }}"/></a></span>
         {% endfor %}

         </td>
      </tr>
{% endfor %}
   </tbody>
</table>
</div>

</div>

{% endblock %}

{% block endscripts %}

<script>

   function init() {
      // Activate the top navbar
      $("#navid-people").addClass("active");
   }

   $(document).ready(init);

</script>

{% endblock %}

