{% for w in words %}
   <div class="panel panel-default" style="padding: 20px;">
      <div class="wfreq-header">
         <div style="width: 45px; height: 20px; background-color: {{ w["color"] }}; float: left; margin-right: 8px;"></div>
         <div style="font-weight: bold; line-height: 20px;">
            {{ w["desc"] }} -
            {% set numstr = w["articles"]|length|string %}
            {{ w["cnt"] }} tilfelli í {{ numstr }}
            {{ "grein" if numstr.endswith("1") and not numstr.endswith("11") else "greinum" }}
         </div>
      </div>
      <div class="rank-article-items" style="display: block;">
         {% for a in w["articles"] %}
            <span class="art-link"><a href="{{ url_for('routes.page', id=a.id) | safe }}" 
               onClick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" 
               title="{{ a.heading }}" rel="nofollow"><img 
               src="{{ url_for('static', filename = 'img/sources/' + a.domain + '.png') }}" 
               width="16" height="16" alt="{{ a.heading }}"/></a></span>
        {% endfor %}
      </div>
   </div>
{% endfor %}
