
{% extends "container-normal.html" %}


{% block meta %}

{% endblock %}


{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>

{% endblock %}

{% block content %}


<div class="panel panel-default">
   <div class="panel-heading">
      Orðtíðni í fréttum vefmiðla
      <br>
      <small>Sláðu inn eitt eða fleiri orð og veldu tímabil</small>
   </div>
   <div style="padding:10px;">
      <span>
         Orð <input id="words" name="words" value="veira, smit" style="margin-right: 10px; width:400px;">
      </span>
      <span>
         Tímabil <input name="daterange" id="daterange" style="width:210px; margin-right: 10px;">
         <input type="button" value="Sækja" onClick="reloadData();">
         <span id="in-progress" style="margin-left:10px;"></span>
      </span>
   </div>
   <hr style="margin:0">
   <div style="padding:25px; padding-top: 15px;">
      <canvas id="wfreq_chart_canvas"></canvas>
   </div>
</div>

<div id="wfreq-details-container" style="display:none;">
   <h3>
      <span id="wfreq-period-text"></span>
      <span id="art-progress" style="margin-left:10px;"></span>
   </h3>

   <div id="wfreq-details"></div>
</div>

{% endblock %}

{% block endscripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>

   var wfreqChart;

   function chartClicked(e, elms) {
      if (elms.length === 0) {
         return;
      }

      // Update header and set off progress indicator
      $('#wfreq-details-container').show();
      $('#wfreq-period-text').html(wfreqChart.config.data.labels[elms[0]._index])
      $('#art-progress').html("<span class='glyphicon glyphicon-restart glyphicon-spin'></span>");

      // Clicked chart elements contain the info we need
      for (var i = 0; i < elms.length; i++) {
         var label = wfreqChart.config.data.datasets[i].label;
         var idx = elms[i]._index;
         var dateLabel = wfreqChart.config.data.labels[idx];
         var date = wfreqChart.config.data.labelDates[idx];
      }
      var params = {
         date_from: wfreqChart.config.data.labelDates[elms[0]._index],
         words: $("#words").data("words"),
      };

      fetchDetails(params);
   }

   function fetchDetails(params) {
      // Kill any previous ongoing request
      if (fetchDetails.request) {
         fetchDetails.request.abort();
      }
      // Make ajax call to web app, get full list of articles
      // Send request
      fetchDetails.request = $.getJSON("/wordfreq_details?" + $.param(params), function(r) {
         // Stop off progress indicator
         $('#art-progress').html("");
         // Server returns heavy pre-rendered HTML payload
         $("#wfreq-details").html(r["payload"]);
         // Activate bootstrap tooltips for article icons post hoc
         $('[data-toggle="tooltip"]').tooltip({ 'animation': false });
      });
   }

   function initChart(data) {
      Chart.defaults.global.defaultFontFamily = "Lato";
      var config = {
         type: 'line',
         data: data,
         options: {
            onClick: chartClicked,
            responsive: true,
            tooltips: {
               mode: 'index'
            },
            scales: {
               xAxes: [{
                  display: true,
                  scaleLabel: {
                     display: true
                  },
                  ticks: {
                     autoSkip: true,
                     autoSkipPadding: -5,
                  },
               }],
               yAxes: [{
                  display: true,
                  scaleLabel: {
                     display: true,
                     labelString: 'Tíðni orða'
                  },
                  ticks: {
                     suggestedMin: 0,
                  }
               }]
            }
         }
      };
      var wfreqCtx =  $('#wfreq_chart_canvas').get(0).getContext('2d');
      wfreqChart = new Chart(wfreqCtx, config);
   }

   function loadChartData(data) {
      wfreqChart.config.data = data;
      wfreqChart.update();
   }

   function initDatePicker() {
      var start = moment().subtract(89, 'days');
      var end = moment();

      var locale = {
        "format": "YYYY-MM-DD",
        "separator": " - ",
        "applyLabel": "Vista",
        "cancelLabel": "Hætta við",
        "fromLabel": "Frá",
        "toLabel": "til",
        "customRangeLabel": "Velja",
        "weekLabel": "V",
        "daysOfWeek": [
            "Sun",
            "Mán",
            "Þri",
            "Mið",
            "Fim",
            "Fös",
            "Lau"
        ],
        "monthNames": [
            "Janúar",
            "Febrúar",
            "Mars",
            "Apríl",
            "Maí",
            "Júní",
            "Júlí",
            "Ágúst",
            "September",
            "Oktober",
            "November",
            "Desember"
        ],
        "firstDay": 1
      };

      $('#daterange').daterangepicker({
         startDate: start,
         endDate: end,
         locale: locale,
         maxSpan: {
            "days": 365
         },
         ranges: {
           'Síðastliðin vika': [moment().subtract(6, 'days'), moment()],
           'Síðustu 30 dagar': [moment().subtract(29, 'days'), moment()],
           'Síðustu 3 mánuðir': [moment().subtract(89, 'days'), moment()],
           'Síðustu 6 mánuðir': [moment().subtract(182, 'days'), moment()],
           'Síðasta ár': [moment().subtract(364, 'days'), moment()],
         }
      });

      $('#daterange').on('apply.daterangepicker', reloadData);
   }

   function reloadData() {
      // Kill any previous ongoing request
      if (reloadData.request) {
         reloadData.request.abort();
      }
      // Set off progress indicator
      $('#in-progress').html("<span class='glyphicon glyphicon-restart glyphicon-spin'></span>");

      // Hide details view
      $('#wfreq-details-container').hide();

      // The date range picker plugin produces string
      // containing two hyphen-separated ISO dates
      var res = $("#daterange").val().split(" - ");

      // Send request
      var params = {
         words: $("#words").val(),
         date_from: res[0].trim(),
         date_to: res[1].trim(),
      };
      reloadData.request = $.getJSON("/wordfreq?" + $.param(params), function(r) {
         // Update word input field w. string from server
         $("#words").val(r["words"]);
         $("#words").data("words", r["words"]);
         // Stop progress indicator
         $('#in-progress').html("");
         loadChartData(r["data"]);
      });
   }

   $(document).ready(function() {
      // Activate the top navbar
      $("#navid-words").addClass("active");

      initDatePicker();
      initChart(null);
      reloadData();

      // Reload on Enter keypress while focus on input field
      $('#words').keypress(function(event){
         var keycode = (event.keyCode ? event.keyCode : event.which);
         if (keycode == '13'){
            reloadData();
         }
      });

   });

</script>

{% endblock %}

