<!DOCTYPE html>
<html lang="is">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="application-name" content="Greynir">

<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet" crossorigin>

<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">

<title>404: Þessi vefslóð er ekki rétt</title>

<style>

	p, h1, h2 {
		font-family: 'Lato', sans-serif;
	}

  #content {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
  }

  #content img {
    width: 100%;
    max-width: 200px;
  }

</style>

</head>
  <body>
    <div id="content">
      <a href="https://greynir.is"><img src="/static/img/greynir-logo-large.png"></a>
      <h1>Þessi vefslóð er ekki rétt</h1>
      <h2>404 Not Found</h2>
    </div>
  </body>
</html>

