
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}"
   rel='stylesheet' type='text/css'>

<style type="text/css">

.lead {
   font-size: 22px;
}
.lead b {
   font-style: italic;
}

@media (min-width: 768px) {
   .lead {
      font-size: 34px;
   }
   .lead b {
      font-style: italic;
   }
}

</style>

{% endblock %}

{% block content %}

<div class="panel panel-info">
   <div class="panel-heading"><span class="glyphicon glyphicon-info"></span></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded"
      src="{{ url_for('static', filename='img/vth.jpg') }}" width="80" height="97"></div>
      <p class="lead"><b>Greynir</b> er málgreinir fyrir íslensku.</p>
      <p class="author"><i>Upphafsmaður Greynis er<br>
      <a href="http://blog.pressan.is/vthorsteinsson"
      target="_blank">Vilhjálmur Þorsteinsson</a></i></p>
   </div>
   <ul class="list-group">
   <li class="list-group-item">
      <p>Greynir les <a href="{{ url_for('routes.stats') }}">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann þáttar textann í málsgreinatré samkvæmt
      <a href="https://github.com/mideind/ReynirPackage/blob/master/src/reynir/Reynir.grammar"
      target="_blank">innbyggðum málfræðireglum fyrir íslensku</a>.
      Trén innihalda og endurspegla setningarhluta, svo sem frumlög, andlög,
      aðra nafnliði, sagnliði, forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falls, tölu, kyns, persónu og annarra málfræðieiginleika
      og -reglna til að finna sem réttasta trjágreiningu hverrar málsgreinar.
      Slík greining getur þó aldrei orðið fullkomin enda er tungumálið afar
      sveigjanlegt verkfæri.</p>
      <p>Þegar málsgreinatrén hafa verið fundin eru eimaðar upp
      úr þeim upplýsingar á borð við nöfn fólks, titla og starfsheiti,
      og skilgreiningar á sérnöfnum. Um þessi gögn má spyrja Greyni með
      fyrirspurnum á venjulegri íslensku, ritaðri eða talaðri.</p>
      <p>Greynir flokkar fréttir og greinar sjálfkrafa í efnisflokka eftir
      innihaldi þeirra. Hann heldur jafnframt til haga
      <a href="{{ url_for('routes.stats') }}">tölfræði um greinarnar</a>,
      m.a. um hlutföll kynjanna.</p>
      <p>Fylgjast má með fréttum af Greyni í
      <a href="https://www.facebook.com/groups/835777623244578/" target="_blank">Facebook-hópi
         hans</a>.
      </p>
   </li>
   <li class="list-group-item">
      <p>Nafnið <strong>Greynir</strong> er samsett úr orðunum
      <em>grey</em>, <em>greinir</em> og <em>reynir</em> (no. og so.),
      sbr. <em>Greyið hann Greynir reynir að greina þessa grein</em>.</p>
      <p>Sem nafnorð vísar <em>reynir</em> til Reynimels 40 í Reykjavík
      þar sem amma mín og afi (alnafni) bjuggu,
      og ég sjálfur í barnæsku — og til Reynis Hugasonar heitins
      sem var fyrsti vinnuveitandi minn á sviði hugbúnaðargerðar.</p>
   </li>
   <li class="list-group-item">
      <p><a href="https://mideind.is"><img src="{{ url_for('static', filename='img/mideind-horizontal-small.png') }}"
         width="200" height="62" style="margin-top:14px; float:left; margin-right: 28px; margin-bottom: 14px;"></a>
      </p>
      <p>
         <b>Höfundaréttur &copy; 2020 Miðeind ehf.</b>
         <br>
         <span>[Þróunarútgáfa]</span> <!-- This text is replaced by a date stamp in deploy.sh -->
         &bull; 
{%- if reynir_version %}
         <span>ReynirPackage {{ reynir_version }}</span>
{%- endif -%}
{%- if python_version %}
         &bull; <span>
            Python {{ python_version }}</a>
         </span>
{%- endif -%}
      </p>
      <p>Frumforrit Greynis og tengdar skrár eru
         <a href="https://github.com/mideind/Greynir" target="_blank">opin á GitHub</a>.
            Samhengisfrjálsa málfræði (<i>context-free grammar</i>) Greynis fyrir íslensku má
         <a href="https://github.com/mideind/ReynirPackage/blob/master/src/reynir/Reynir.grammar"
         target="_blank">sjá hér</a>.
      </p>
      <p>
         Greynir byggir á <a href="https://greynir.is/doc/" target="_blank">Python-pakkanum
            <b>Reyni</b></a> sem er einnig opinn og frjáls hugbúnaður.</p>

      <a href="https://www.gnu.org/licenses/gpl-3.0.html"
         target="_blank"><img src="{{ url_for('static', filename='img/GPLv3.png') }}"
         width="151" height="60" style="float:right; margin-top: -40px"></a>

      <p>Forritaskil (API) Greynis eru <a href="{{ url_for('routes.apidoc') }}">skjöluð
            hér</a>.
      </p>
      <p>
         Um frumforrit og tengdar skrár gildir notkunarleyfið
            <a href="https://www.gnu.org/licenses/gpl-3.0.html"
            target="_blank">GNU General Public License v3</a>.
      </p>
   </li>
   <li class="list-group-item">
      Greynis-verkefnið hlaut styrki úr
      <a href="https://www.rannis.is/sjodir/rannsoknir/maltaeknisjodur/"
      target="_blank">Máltæknisjóði</a> í desember 2016 og desember 2017.
   </li>
   <li class="list-group-item">
      Greynir byggir á opnum gögnum
      <a href="http://bin.arnastofnun.is" target="_blank"><i>Beygingarlýsingar
      íslensks nútímamáls</i></a> (BÍN).
      Höfundarrétt að BÍN á
      <a href="http://www.arnastofnun.is" target="_blank"><i>Stofnun Árna Magnússonar
      í íslenskum fræðum</i></a>. BÍN er notuð í Greyni samkvæmt
      <a href="http://bin.arnastofnun.is/gogn/skilmalar/"
      target="_blank">skilmálum SÁM</a>.
   </li>
   <li class="list-group-item">
      Vefviðmót Greynis notar kortagögn frá <a href="https://www.openstreetmap.org">OpenStreetMap</a>, <a href="https://maps.google.com">Google</a> og <a href="https://is.wikipedia.org">Wikipedíu.</a>
   </li>
   </ul>
</div>

{% endblock %}

{% block endscripts %}

<script>

   function init() {
      // Activate the top navbar
      $("#navid-about").addClass("active");
   }

   $(document).ready(init);

</script>

{% endblock %}

