
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div class="panel panel-info">
   <div class="panel-heading"><span class="glyphicon glyphicon-info"></span></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded" src="{{ url_for('static', filename='2325.jpg') }}" width="80" height="97"></div>
      <p class="lead"><b>Greynir</b> er málgreinir fyrir íslensku.</p>
      <p class="author"><i>Höfundur Greynis er
      <a href="http://blog.pressan.is/vthorsteinsson" target="_blank">Vilhjálmur Þorsteinsson</a>
      <br>&copy; 2016 - allur réttur áskilinn</i></p>
      <p>&nbsp;</p>
      <p>Greynir les <a href="{{ url_for('stats') }}">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann umbreytir textanum yfir í setningatré samkvæmt
      innbyggðum málfræðireglum fyrir íslensku.
      Trén innihalda og endurspegla setningarhluta, svo sem nafnliði, sagnliði,
      forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falla, kynja, persóna og annarra málfræðieiginleika og -reglna til að finna
      sem réttasta trjágreiningu hverrar setningar. Slík greining getur þó aldrei orðið fullkomin
      enda er tungumálið afar sveigjanlegt verkfæri.</p>
      <p>Þegar setningartrén hafa verið fundin eru eimaðar upp
      úr þeim upplýsingar á borð við nöfn fólks, titla og starfsheiti, og skilgreiningar á sérnöfnum.</p>
      <p>Greynir heldur jafnframt til haga
      <a href="{{ url_for('genders') }}">tölfræði um hlutföll kynjanna</a> í umfjöllun
      hinna ýmsu vefja.</p>
      <p>&nbsp;</p>
      <p><small>Frumforrit Greynis eru <a href="https://github.com/vthorsteinsson/Reynir" target="_blank">opin á GitHub</a>.
      Samhengisfrjálsa málfræði hans (<i>context-free grammar</i>) fyrir íslensku má
      <a href="https://github.com/vthorsteinsson/Reynir/blob/master/Reynir.grammar" target="_blank">sjá hér</a>.</small></p>
      <p><small>Greynir byggir á opnum gögnum
      <a href="http://bin.arnastofnun.is" target="_blank"><i>Beygingarlýsingar íslensks nútímamáls</i></a> (BÍN).
      Höfundarrétt að BÍN á
      <a href="http://www.arnastofnun.is" target="_blank"><i>Stofnun Árna Magnússonar
      í íslenskum fræðum</i></a>. BÍN er notuð í Greyni samkvæmt
      <a href="http://bin.arnastofnun.is/gogn/skilmalar/" target="_blank">skilmálum SÁM</a>.</small></p>
   </div>
</div>

{% endblock %}

{% block endscripts %}

<script>

   function init() {
      // Activate the top navbar
      $("#navid-about").addClass("active");
   }

   $(document).ready(init);

</script>

{% endblock %}

