
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}"
   rel='stylesheet' type='text/css'>

<style type="text/css">

.lead {
   font-size: 22px;
}
.lead b {
   font-style: italic;
}

@media (min-width: 768px) {
   .lead {
      font-size: 34px;
   }
   .lead b {
      font-style: italic;
   }
}

blockquote {
   font-size: 0.9em;
}

blockquote cite {
   margin-left: 0.2rem;
}

</style>

{% endblock %}

{% block content %}

<div class="panel panel-info">
   <div class="panel-heading"><span class="glyphicon glyphicon-info"></span></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded"
      src="{{ url_for('static', filename='img/vth.jpg') }}" width="80" height="97"></div>
      <p class="lead"><b>Greynir</b> er málgreinir fyrir íslensku.</p>
      <p class="author"><i>Upphafsmaður Greynis er<br>
      <a href="https://mideind.is/sagan.html" target="_blank">Vilhjálmur Þorsteinsson</a></i></p>
   </div>
   <ul class="list-group">
   <li class="list-group-item">
      <p>Greynir les <a href="{{ url_for('routes.stats') }}">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann þáttar textann í málsgreinatré samkvæmt
      <a href="https://github.com/mideind/GreynirPackage/blob/master/src/reynir/Greynir.grammar"
      target="_blank">innbyggðum málfræðireglum fyrir íslensku</a>.
      Trén innihalda og endurspegla setningarhluta, svo sem frumlög, andlög,
      aðra nafnliði, sagnliði, forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falls, tölu, kyns, persónu og annarra málfræðieiginleika
      og -reglna til að finna sem réttasta trjágreiningu hverrar málsgreinar.
      Slík greining getur þó aldrei orðið fullkomin enda er tungumálið afar
      sveigjanlegt verkfæri.</p>
      <p>Þegar málsgreinatrén hafa verið fundin eru eimaðar upp
      úr þeim upplýsingar á borð við nöfn fólks, titla og starfsheiti,
      og skilgreiningar á sérnöfnum. Um þessi gögn má spyrja Greyni með
      fyrirspurnum á venjulegri íslensku, ritaðri eða talaðri.</p>
      <p>Greynir flokkar fréttir og greinar sjálfkrafa í efnisflokka eftir
      innihaldi þeirra. Hann heldur jafnframt til haga
      <a href="{{ url_for('routes.stats') }}">tölfræði um greinarnar</a>,
      m.a. um hlutföll kynjanna.</p>
      <p>Fylgjast má með fréttum af Greyni í
      <a href="https://www.facebook.com/groups/835777623244578/" target="_blank">Facebook-hópi
         hans</a>.
      </p>
   </li>
   <li class="list-group-item">
      <p>Nafnið <strong>Greynir</strong> er samsett úr orðunum
      <em>grey</em>, <em>greinir</em> og <em>reynir</em> (no. og so.),
      sbr. <em>Greyið hann Greynir reynir að greina þessa grein</em>.</p>
      <blockquote>
         Sem nafnorð vísar <em>reynir</em> til Reynimels 40 í Reykjavík
         þar sem amma mín og afi (alnafni) bjuggu,
         og ég sjálfur í barnæsku — og til Reynis Hugasonar heitins
         sem var fyrsti vinnuveitandi minn á sviði hugbúnaðargerðar.
         <cite>&mdash; V.Þ.</cite>
      </blockquote>
   </li>
   <li class="list-group-item">
      <p><a href="https://mideind.is"><img src="{{ url_for('static', filename='img/mideind-horizontal-small.png') }}"
         width="200" height="62" style="margin-top:14px; float:left; margin-right: 28px; margin-bottom: 14px;"></a>
      </p>
      <p>
         <b>Höfundaréttur &copy; 2021 Miðeind ehf.</b>
         <br>
         <span>[Þróunarútgáfa]</span> <!-- This text is replaced by a date stamp in deploy.sh -->
         &bull;
         <span>[Git-útgáfa]</span> <!-- This text is replaced by git commit hash in deploy.sh -->
         <br>
{%- if parser_version %}
         <span>GreynirPackage {{ parser_version }}</span>
{%- endif -%}
{%- if tokenizer_version %}
         &bull;
         <span>Tokenizer {{ tokenizer_version }}</span>
{%- endif -%}
{%- if python_version %}
         &bull;
         <span>Python {{ python_version }}</span>
{%- endif -%}
{%- if platform_name %}
         &bull;
         <span>{{ platform_name }}</span>
{%- endif -%}
      </p>
      <p>
         Frumforrit Greynis og tengdar skrár eru opin og 
         <a href="https://github.com/mideind/Greynir" target="_blank">aðgengileg á GitHub</a>.
      </p>
      <p>
         Samhengisfrjálsa málfræði (<i>context-free grammar</i>) Greynis
         fyrir íslensku má
         <a href="https://github.com/mideind/GreynirPackage/blob/master/src/reynir/Greynir.grammar"
         target="_blank">sjá hér</a>.
         Forritaskil (API) Greynis eru
         <a href="{{ url_for('routes.apidoc') }}">skjöluð hér</a>.
      </p>
      <a href="https://www.gnu.org/licenses/gpl-3.0.html"
         target="_blank"><img src="{{ url_for('static', filename='img/GPLv3.png') }}"
         width="151" height="60" style="float:right; margin-left: 15px; margin-bottom: 10px;"></a>
      <p>
         Máltæknivél Greynis er einnig fáanleg sem sjálfstæður
         <a href="https://greynir.is/doc/" target="_blank">Python-pakki</a>.
      </p>
      <p>
         Um frumforrit Greynis og tengdar skrár gildir notkunarleyfið
         <a href="https://www.gnu.org/licenses/gpl-3.0.html"
         target="_blank">GNU General Public License v3</a>.
      </p>
   </li>
   <li class="list-group-item">
      Greynis-verkefnið hlaut styrki úr
      <a href="https://www.rannis.is/sjodir/rannsoknir/maltaeknisjodur/"
      target="_blank">Máltæknisjóði</a> í desember 2016 og desember 2017.
   </li>
   <li class="list-group-item">
      Greynir byggir á opnum gögnum
      <a href="https://bin.arnastofnun.is" target="_blank"><i>Beygingarlýsingar
      íslensks nútímamáls</i></a> (BÍN), sem notuð er samkvæmt <a href="https://bin.arnastofnun.is/gogn/mimisbrunnur/">CC-BY-4.0 leyfi</a>:<br>
      <i>Beygingarlýsing íslensks nútímamáls. Stofnun Árna Magnússonar í íslenskum fræðum.
         Höfundur og ritstjóri Kristín Bjarnadóttir.</i>
   </li>
   <li class="list-group-item">
      Vefviðmót Greynis notar kortagögn frá <a href="https://www.openstreetmap.org">OpenStreetMap</a>, <a href="https://maps.google.com">Google</a> og <a href="https://is.wikipedia.org">Wikipedíu.</a>
   </li>
   </ul>
</div>

{% endblock %}

{% block endscripts %}

<script>

   function init() {
      // Activate the top navbar
      $("#navid-about").addClass("active");
   }

   $(document).ready(init);

</script>

{% endblock %}

