
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div class="input-analysis">

   <div class="row">

      <div class="col-xs-12" id="txt-div">

         <textarea rows="8" class="form-control input-lg"
            id="txt" tabindex="1" maxlength="4096" autofocus required placeholder="Sláðu inn texta til að málgreina">
            {{- default_text -}}
         </textarea>

      </div>

   </div>

   <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 pull-right">
         <button class="btn btn-success btn-lg btn-block" id="txt-ok" title="Greina" tabindex="3"
            onclick="analyze()">Greina</button>
      </div>
   </div>

</div>

<div id="output">

   <h3 class="help">Málgreining <small>Smelltu á málsgrein til að sjá trjágreiningu hennar</small></h3>

   <!-- Popup with info about the word being hovered over -->
   <div id="info">
      <table>
      <tr>
      <td><span id="tag" class='glyphicon glyphicon-tag'></span></td>
      <td id="lemma"></td>
      </tr>
      </table>
      <p id="details"></p>
      <p id="grammar"></p>
      <div id="percent" class="progress">
         <div class="progress-bar progress-bar-info" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">0%</span>
         </div>
      </div>
   </div>

   <div id="result">
   </div>

   <div id="register">
      <!-- Name register goes here -->
      <h3>Nafnalisti</h3>
      <ul id="namelist"></ul>
   </div>

   <div id="statistics">
      <!-- Statistics go here -->
      <h3>Tölfræði</h3>
      <ul>
         <li>Textinn inniheldur <span id="tok-num">0</span> eindir í
            <span id="num-sent">0</span> málsgreinum.</li>
         <li>Það tókst að greina <span id="num-parsed-sent">0</span> málsgreinar eða
            <span id="num-parsed-ratio">0,0</span>%.</li>
         <li>Margræðnistuðull var
            <span id="avg-ambig-factor">1,00</span>.</li>
      </ul>
   </div>

</div>

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='page.js') }}"></script>

<script>

   function wait(state) {
      // Start or stop a wait spinner
      if (state) {
         $("#txt-ok").attr("disabled", "disabled")
            .html("<span class='glyphicon glyphicon-restart glyphicon-spin-white'></span>");
         $("div#output").css("display", "none");
      }
      else {
         $("#txt-ok").removeAttr("disabled")
            .text("Greina");
         $("div#output").css("display", "block");
      }
   }

   function clearResult() {
      // Clear previous result
      $("div#result").html("");
      $("div#statistics").css("display", "none");
      $("div#register").css("display", "none");
      // Display progress indicator
      wait(true);
   }

   function handleError(xhr, status, errorThrown) {
      /* An error occurred on the server or in the communications */
      $("div#result").html("<p><b>Villa kom upp</b> í samskiptum við netþjón Greynis</p>"); 
      wait(false);
   }

   function populateResult(json) {
      wait(false);
      displayTokens(json.result);
      populateStats(json.stats);
      nameDict = json.register;
      populateRegister();
   }

   function analyzeText(txt) {
      // Ask the server to tokenize and parse the given text
      clearResult();
      // Launch the query
      serverQuery('/analyze.api', // Endpoint with .api suffix are not cached
         {
            text : txt
         },
         populateResult,
         null,
         handleError
      );
   }

   function analyze() {
      // Submit the contents of the textarea to the server
      // for tokenization and parsing
      analyzeText($("#txt").val().trim());
   }

   function init() {
      // Activate the top navbar
      $("#navid-analysis").addClass("active");
      // Clicking on the info panel makes it disappear
      // (necessary for touch screens)
      $("#info").click(function(ev) {
         ev.stopPropagation();
         $(this).css("visibility", "hidden");
      });
      // Hide the output div until we have something to show
      $("div#output").css("display", "none");
   }

   $(document).ready(init);

</script>

{% endblock %}

