
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='analyzer.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<!-- Popup with info about the word being hovered over -->
<div class="info"></div>

<div class="text-container">

   <div class="input">

      <p class="header"><a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='img/GreynirLogo404x180.png') }}" width=202 height=90></a></p>

      <p class="author">orðflokkagreinir fyrir íslensku<br>eftir Vilhjálm Þorsteinsson</p>

      <input type="text" name="txt" id="txt" tabindex="1"
         maxlength=512 autofocus required class="text" value="{{ default_text }}"
         placeholder="Sláðu inn texta til að greina"
         onClick="this.setSelectionRange(0, this.value.length)"/>

      <div class="btn" id="txt-ok" title="Greina" tabindex="2"
         onclick="analyzeTxt()">Greina &#x25BC;</div>

   </div>

   <div class="output">

      <div id="result">
      <!-- Result of analysis goes here -->
      </div>

      <!-- Spinner that appears while the analysis is in progress -->
      <div id="wait"></div>

   </div>

</div>

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='analyzer.js') }}"></script>

<script>

   function initMain(jQuery) {
      // Initialization
      $("#txt").keydown(function(ev) {
         if (ev.which == 13) {
            analyzeTxt();
            ev.preventDefault();
         }
      });
   }

   $(document).ready(initMain);

</script>

{% endblock %}

