
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div class="input-correct">

   <div class="row">

      <div class="col-xs-12" id="txt-div">

         <textarea rows="8" class="form-control input-lg"
            id="txt" tabindex="1" maxlength="4096" autofocus required placeholder="Sláðu inn texta til að lesa yfir">
            {{- default_text -}}
         </textarea>

      </div>

   </div>

   <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 pull-right">
         <button class="btn btn-success btn-lg btn-block" id="txt-ok" title="Lesa yfir" tabindex="3"
            onclick="correct()">Lesa yfir</button>
      </div>
   </div>

</div>

<div id="output">

   <div class="row">

      <div class="col-xs-12">

         <h3 class="help">Yfirlesinn texti</h3>

         <!--
            The result div contains a list of paragraph divs, each
            consisting of two side-by-side divs for the text
            and its annotations
         -->
         <div id="result"></div>

         <div id="statistics">
            <!-- Statistics go here -->
            <h3>Tölfræði</h3>
            <ul>
               <li>Textinn inniheldur <span id="tok-num">0</span> eindir í
                  <span id="num-sent">0</span> málsgreinum.</li>
               <li>Það tókst að trjágreina <span id="num-parsed-sent">0</span>
                  <span id="paragraphs">málsgreinar</span> eða
                  <span id="num-parsed-ratio">0,0</span>%.</li>
               <li>Margræðnistuðull var
                  <span id="avg-ambig-factor">1,00</span>.</li>
            </ul>
         </div>

      </div>

   </div>
</div>

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.js') }}"></script>

<script>

   // Global array linking annotations to token span indices
   var annSpan = [];

   function wait(state) {
      // Start or stop a wait spinner
      if (state) {
         $("#txt-ok").attr("disabled", "disabled")
            .html("<span class='glyphicon glyphicon-restart glyphicon-spin-white'></span>");
         $("div#output").css("display", "none");
      }
      else {
         $("#txt-ok").removeAttr("disabled")
            .text("Lesa yfir");
         $("div#output").css("display", "block");
      }
   }

   function clearResult() {
      // Clear previous result
      $("div#result").html("");
      $(window).off("resize");
      annSpan = [];
      $("div#statistics").css("display", "none");
      // Display progress indicator
      wait(true);
   }

   function handleError(xhr, status, errorThrown) {
      /* An error occurred on the server or in the communications */
      $("div#result").html("<p><b>Villa kom upp</b> í samskiptum við netþjón Greynis</p>"); 
      wait(false);
   }

   function formatAnnotation(txt) {
      // Hack to convert all text within single quotation marks in
      // an annotation to bold, while also escaping the annotation
      // text to valid HTML
      var fmt = txt.replace(/'[^']*'/g, function (s) {
         // Be careful to not use characters that will be HTML-escaped
         // in the dummy markers
         return "[bold]" + s.slice(1, -1) + "[~bold]";
      });
      fmt = escapeHtml(fmt);
      // Replace the dummy markers with HTML tags
      return fmt.replace(/\[bold\]/g, "<b>").replace(/\[~bold\]/g, "</b>");
   }

   function annHoverIn(ev) {
      // Hovering over an annotation
      var wId = $(this).attr("id");
      if (wId === null || wId === undefined) {
         // No id: nothing to do
         return;
      }
      var ix = parseInt(wId.slice(1));
      var span = annSpan[ix];
      if (!span) {
         // No annotation: nothing to do
         return;
      }
      // Add a highlight to all tokens spanned by this annotation
      for (var i = span.start; i <= span.end; i++)
         $("#w" + i).addClass("highlight");
   }

   function annHoverOut(ev) {
      var wId = $(this).attr("id");
      if (wId === null || wId === undefined) {
         // No id: nothing to do
         return;
      }
      var ix = parseInt(wId.slice(1));
      var span = annSpan[ix];
      if (!span) {
         // No annotation: nothing to do
         return;
      }
      // Add a highlight to all tokens spanned by this annotation
      for (var i = span.start; i <= span.end; i++)
         $("#w" + i).removeClass("highlight");
   }

   function displayAnnotations(j) {
      // Generate HTML for the token list given in j,
      // and insert it into the <div> with id 'result'.
      // Also, populate the global w array with the
      // token list.
      // Also, display annotations alongside the original text.
      var x = ""; // Result text
      var lastSp;
      w = []; // Token array (declared as a global in page.js)
      annSpan = []; // Array of annotation token spans
      $.each(j, function(pix, p) {
         // We create a div for each paragraph
         x += "<div class='correct'>\n";
         // Left column: paragraph text
         var left = "";
         // Right column: paragraph annotations
         var right = "";
         $.each(p, function(six, s) {
            // Sentence s
            lastSp = TP_NONE;
            left += "<span class='sent'>";
            // Note where the sentence starts in the token array
            var six = w.length;
            $.each(s.tokens, function(tix, t) {
               // Token t
               var thisSp = spacing(t);
               // Insert a space in front of this word if required
               // (but never at the start of a sentence)
               if (TP_SPACE[lastSp - 1][thisSp - 1] && tix)
                  left += " ";
               lastSp = thisSp;
               if (t.k == TOK_PUNCTUATION)
                   // Add space around em-dash
                  left += "<i class='p'>" + ((t.x == "—") ? " — " : t.x) + "</i>";
               else {
                  var cls = " class='c'";
                  var tx = t.x;
                  tx = tx.replace(" - ", "-"); // Tight hyphen, no whitespace
                  left += "<i id='w" + w.length + "'" + cls + ">" + tx + "</i>";
               }
               // Append to word/token list
               w.push(t);
            });
            // Accumulate annotations into the right column
            $.each(s.annotations, function(aix, a) {
               // Annotation a
               right += "<div id='a" + annSpan.length + "'>" +
                  formatAnnotation(a.text) + "</div>\n";
               // Note the token span to which the annotation applies,
               // within the global token list
               annSpan.push({ start: six + a.start, end: six + a.end });
            });
            // Finish sentence
            left += "</span>\n";
         });
         x += "<div class='result'>" + left + "</div>\n";
         x += "<div class='annotation'>" + right + "</div>\n";
         // Finish paragraph
         x += "</div>\n"; // div class='correct'
      });
      // Show the text and annotation columns
      $("div#result").html(x);
      // Fix the annotations so that they are never
      // above their respective start token
      repositionAnnotations();
      $(window).resize(repositionAnnotations);
      // Put a hover handler on each annotation
      $("div.annotation div").hover(annHoverIn, annHoverOut);
      // Put a click handler on each sentence
      $("span.sent").click(showParse);
   }

   function repositionAnnotations() {
      // Reposition the annotations to align
      // with their respective tokens
      // Begin by clearing any previous top margins
      $.each(annSpan, function(six) {
         var ann = $("#a" + six);
         ann.css("margin-top", "0");
      });
      // Then, align with tokens as necessary
      $.each(annSpan, function(six, span) {
         var tokenTop = $("#w" + span.start).offset().top;
         var ann = $("#a" + six);
         var annTop = ann.offset().top;
         if (annTop < tokenTop) {
            // Put a top margin on the annotation to make its
            // top align with the token's top
            ann.css("margin-top", "" + (tokenTop - annTop) + "px");
         }
      });
   }

   function populateResult(json) {
      wait(false);
      if (!json.valid || json.result === undefined || json.result === null)
         $("div#result").html("<p><b>Villa kom upp</b> í samskiptum við netþjón Greynis</p>");
      else {
         // Display the paragraphs, sentences and tokens
         // along with the sentence-level annotations
         displayAnnotations(json.result);
         populateStats(json.stats);
      }
   }

   function correctText(txt) {
      // Ask the server to tokenize and parse the given text
      clearResult();
      // Launch the query
      serverQuery('/correct.api', // Endpoint with .api suffix are not cached
         {
            text : txt
         },
         populateResult,
         null,
         handleError
      );
   }

   function correct() {
      // Submit the contents of the textarea to the server
      // for tokenization and parsing
      correctText($("#txt").val().trim());
   }

   function init() {
      // Activate the top navbar
      $("#navid-correct").addClass("active");
      // Clicking on the info panel makes it disappear
      // (necessary for touch screens)
      $("#info").click(function(ev) {
         ev.stopPropagation();
         $(this).css("visibility", "hidden");
      });
      // Hide the output div until we have something to show
      $("div#output").css("display", "none");
   }

   $(document).ready(init);

</script>

{% endblock %}

