<!doctype html>
<html lang="is">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="is">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Philips Hue</title>
    <!-- <script src="../queries/js/IoT_Embla/Philips_Hue/hub.js"></script> -->

    <meta name="robots" content="noindex, nofollow, noimageindex, noarchive">
    <meta name="googlebot" content="noindex, nofollow, noimageindex, noarchive">
</head>

<body>
    <h1>Philips Hue Hub</h1>
    <div style="               
                display: flex;
                flex-direction: column;
                justify-content: center;
            " class="content">
    </div>
    <div style="
                display: flex;
                flex-direction: column;
                justify-content: center;
            " class="content">
        <p>Philips Hue er vinsælasta snjallljósa lausn heims.
            Með því að tengja Philips Hue miðstöðina þína getur þú beðið emblu um að kveikja og slökka á ljósum, breyta
            lit, birtustigi og fleira.</p>

        <h2 class="h2-subsection">Leiðbeiningar</h2>
        <ol>
            <li>Tengdu Philips Hue miðstöðina með netsnúru.</li>
            <li>Gættu þess að miðstöðin sé tengd sama neti og síminn þinn.</li>
            <li>Ýttu á takkann á Hue miðstöðinni þinni.</li>
            <li>Veldu „Tengja“ innan 30 sekúndna frá því þú ýttir á takkann.</li>
        </ol>

        <button id="connect_button" class="btn" onclick="syncConnectHub()">Tengja</button>

        <!--style="  background-color: #D2827F;
            border: none;
            color: white;
            padding: 15px 32px;
            margin: 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 25px;
            font-family: 'Lato', sans-serif;
            padding: 10px 20px;
            box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3), inset 0px 12px 0px -10px rgba(255,255,255,0.3);
            font-size: 19px;"-->

    </div>
    <!-- <script type="text/javascript">
        import syncConnectHub from '../queries/js/IoT_Embla/Philips_Hue/hub.js';
        function connectHue() {
            console.log("In connectHue");
            const queryParams = new URLSearchParams(window.location.search);
            const clientId = queryParams.get('client_id');
            const requestUrl = queryParams.get('request_url');
            syncConnectHub(clientId, requestUrl);
            print("Done connecting");
        }
    </script> -->
    <script>
        console.log("!!!!!!! hub.js !!!!!!!!");
        "use strict";

        async function findHub() {
            // let hubArr = [];
            // let hubObj = new Object();
            // hubObj.id = "ecb5fafffe1be1a4";
            // hubObj.internalipaddress = "192.168.1.68";
            // hubObj.port = "443";
            // console.log(hubObj);
            // hubArr.push(hubObj);
            // return hubArr[0];
            return fetch(`https://discovery.meethue.com`)
                .then((resp) => resp.json())
                .then((obj) => {
                    console.log(obj);
                    return obj[0];
                })
                .catch((err) => {
                    console.log("No smart device found!");
                });
        }

        async function createNewDeveloper(ipAddress) {
            console.log("create new developer");
            const body = JSON.stringify({
                devicetype: "mideind_hue_communication#smartdevice",
            });
            return fetch(`http://${ipAddress}/api`, {
                method: "POST",
                body: body,
            })
                .then((resp) => resp.json())
                .then((obj) => {
                    return obj[0];
                })
                .catch((err) => {
                    console.log(err);
                });
        }

        async function storeDevice(data, requestURL) {
            console.log("store device");
            return fetch(`${requestURL}/register_query_data.api`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((resp) => resp.json())
                .then((obj) => {
                    return obj;
                })
                .catch((err) => {
                    console.log("Error while storing user");
                });
        }

        // clientID = "82AD3C91-7DA2-4502-BB17-075CEC090B14", requestURL = "192.168.1.68")
        async function connectHub(clientID, requestURL) {
            console.log("connect hub");
            let deviceInfo = await findHub();
            console.log("device info: ", deviceInfo);
            console.log("device_ip :", deviceInfo.internalipaddress);

            try {
                let username = await createNewDeveloper(deviceInfo.internalipaddress);
                console.log("username: ", username);
                if (!username.success) {
                    return "Ýttu á 'Philips' takkann á tengiboxinu og reyndu aftur";
                }

                const data = {
                    client_id: clientID,
                    key: "iot",
                    data: {
                        iot_lights: {
                            philips_hue: {
                                credentials: {
                                    username: username.success.username,
                                    ip_address: deviceInfo.internalipaddress,
                                },
                            },
                        },
                    },
                };

                const result = await storeDevice(data, requestURL);
                console.log("result: ", result);
                if (result.valid === true) {
                    console.log("Request url in valid check: ", requestURL);
                    window.location.href = `${requestURL}/iot-connect-success`;
                }
                return "Tenging við snjalltæki tókst";
            } catch (error) {
                console.log(error);
                return "Ekki tókst að tengja snjalltæki";
            }
        }

        function syncConnectHub() {

            const queryParams = new URLSearchParams(window.location.search);
            const clientID = queryParams.get('client_id');
            const requestURL = queryParams.get('request_url');
            connectHub(clientID, requestURL);
            return "Philips Hue miðstöðin hefur verið tengd";
        }

        function createRipple(event) {
            const button = event.currentTarget;

            const circle = document.createElement("span");
            const diameter = Math.max(button.clientWidth, button.clientHeight);
            const radius = diameter / 2;

            circle.style.width = circle.style.height = `${diameter}px`;
            circle.style.left = `${event.clientX - button.offsetLeft - radius}px`;
            circle.style.top = `${event.clientY - button.offsetTop - radius}px`;
            circle.classList.add("ripple");

            const ripple = button.getElementsByClassName("ripple")[0];

            if (ripple) {
                ripple.remove();
            }

            button.appendChild(circle);
        }

        const buttons = document.getElementsByTagName("button");
        for (const button of buttons) {
            button.addEventListener("click", createRipple);
        }
    </script>
</body>


</html>