
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
<center>
<!--<img src="/static/img/greynir-logo-large.png" style="float: right; margin-left: 20px; margin-bottom: 20px;" width="224" height="224">-->
<h1>Greynir - Málgreining fyrir íslensku</h1>
</center>
</div>

<div class="row">
<div class="col-md-6" style="border: 1px solid white;">
<div class="panel panel-info">
   <div class="panel-heading"><strong>Lorem ipsum</strong></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded" src="/static/img/vth.jpg" width="80" height="97"></div>
       <p>Greynir les <a href="/stats">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann þáttar textann í málsgreinatré samkvæmt
      <a href="https://github.com/mideind/ReynirPackage/blob/master/src/reynir/Reynir.grammar" target="_blank">innbyggðum málfræðireglum fyrir íslensku</a>.
      Trén innihalda og endurspegla setningarhluta, svo sem frumlög, andlög,
      aðra nafnliði, sagnliði, forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falls, tölu, kyns, persónu og annarra málfræðieiginleika
      og -reglna til að finna sem réttasta trjágreiningu hverrar málsgreinar.
      Slík greining getur þó aldrei orðið fullkomin enda er tungumálið afar
      sveigjanlegt verkfæri.</p>
   </div>
     
</div>
</div>

<div class="col-md-6" style="border: 1px solid white;">
<div class="panel panel-default">
   <div class="panel-heading"><strong>Dolor sit amet</strong></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded" src="/static/img/vth.jpg" width="80" height="97"></div>
       <p>Greynir les <a href="/stats">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann þáttar textann í málsgreinatré samkvæmt
      <a href="https://github.com/mideind/ReynirPackage/blob/master/src/reynir/Reynir.grammar" target="_blank">innbyggðum málfræðireglum fyrir íslensku</a>.
      Trén innihalda og endurspegla setningarhluta, svo sem frumlög, andlög,
      aðra nafnliði, sagnliði, forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falls, tölu, kyns, persónu og annarra málfræðieiginleika
      og -reglna til að finna sem réttasta trjágreiningu hverrar málsgreinar.
      Slík greining getur þó aldrei orðið fullkomin enda er tungumálið afar
      sveigjanlegt verkfæri.</p>
   </div>
     
</div>

</div>

</div>

<div class="row">
<div class="col-md-6" style="border: 1px solid white;">
<div class="panel panel-primary">
   <div class="panel-heading"><strong>Lorem ipsum</strong></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded" src="/static/img/vth.jpg" width="80" height="97"></div>
       <p>Greynir les <a href="/stats">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann þáttar textann í málsgreinatré samkvæmt
      <a href="https://github.com/mideind/ReynirPackage/blob/master/src/reynir/Reynir.grammar" target="_blank">innbyggðum málfræðireglum fyrir íslensku</a>.
      Trén innihalda og endurspegla setningarhluta, svo sem frumlög, andlög,
      aðra nafnliði, sagnliði, forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falls, tölu, kyns, persónu og annarra málfræðieiginleika
      og -reglna til að finna sem réttasta trjágreiningu hverrar málsgreinar.
      Slík greining getur þó aldrei orðið fullkomin enda er tungumálið afar
      sveigjanlegt verkfæri.</p>
   </div>
     
</div>
</div>

<div class="col-md-6" style="border: 1px solid white;">
<div class="panel panel-warning">
   <div class="panel-heading"><strong>Dolor sit amet</strong></div>
   <div class="panel-body">
      <div style="float:right"><img class="villi img-rounded" src="/static/img/vth.jpg" width="80" height="97"></div>
       <p>Greynir les <a href="/stats">nýjustu fréttir og greinar</a>
      jafnóðum af helstu íslensku fréttavefjunum.
      Hann þáttar textann í málsgreinatré samkvæmt
      <a href="https://github.com/mideind/ReynirPackage/blob/master/src/reynir/Reynir.grammar" target="_blank">innbyggðum málfræðireglum fyrir íslensku</a>.
      Trén innihalda og endurspegla setningarhluta, svo sem frumlög, andlög,
      aðra nafnliði, sagnliði, forsetningarliði, samtengingar og svo framvegis.</p>
      <p>Litið er til falls, tölu, kyns, persónu og annarra málfræðieiginleika
      og -reglna til að finna sem réttasta trjágreiningu hverrar málsgreinar.
      Slík greining getur þó aldrei orðið fullkomin enda er tungumálið afar
      sveigjanlegt verkfæri.</p>
   </div>
     
</div>

</div>

</div>

{% endblock %}

