
{% extends "container-normal.html" %}

{% block meta %}
<meta name="robots" content="nofollow" />
{% endblock %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

{% set labelmap = {
      "business" : "btn-primary",
      "technology" : "btn-primary",
      "sport" : "btn-warning",
      "culture" : "btn-warning",
      "politics" : "btn-success",
      "economy" : "btn-success",
      "health" : "btn-info",
      "salmon" : "btn-info",
      "weather" : "btn-danger",
      "accidents" : "btn-danger",
      "immigration" : "btn-warning"
} %}

<!-- List of recent top news goes here -->
<div class="panel panel-default table-responsive">
<div class="panel-heading">
   <!-- Show full heading or shorter one depending on viewport width -->
   <div class="headline hidden-xs">
      Nýjustu fréttir {{ 'á ' + selected_root if selected_root else 'af helstu vefmiðlum' }}
   </div>
   <div class="headline visible-xs-inline-block">Nýjustu fréttir</div>

   <!-- Topics dropdown -->
   <div class="btn-group pull-right">
      <button class="btn {{ labelmap.get(topics.id, 'btn-default') }} dropdown-toggle"
         type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       {{ topics.name if topics.name else "Allir efnisflokkar" }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
         <li><a href="{{ url_for('routes.news') }}">Allir efnisflokkar</a></li>
         <li role="separator" class="divider"></li>
{% for t in topics.topic_list %}
         <li><a href="{{ url_for('routes.news', topic=t[0], root=selected_root) | safe }}">{{ t[1] }}</a></li>
{% endfor %}
      </ul>
   </div>

   <!-- Sources (roots) dropdown -->
   <div class="btn-group pull-right hidden-xs" style="margin-right: 10px;">
      <button class="btn btn-default dropdown-toggle"
         type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {% if selected_root and selected_root in roots %}
            <img src="/static/img/sources/{{ selected_root }}.png" width="16" height="16" 
            style="margin-top: -2px; margin-right: 4px;" alt="{{ selected_root }}"> 
            {{ roots[selected_root] }}
         {% else %}
            Allir miðlar
         {% endif %}
         <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
         <li><a href="{{ url_for('routes.news') }}">Allir miðlar</a></li>
         <li role="separator" class="divider"></li>
{% for domain, name in roots.items() %}
         <li><a href="{{ url_for('routes.news', root=domain) | safe }}">
            <img src="/static/img/sources/{{ domain }}.png" width="16" height="16" alt="{{ name }}">
            {{ name }}
         </a></li>
{% endfor %}
      </ul>
   </div>

</div>

<!-- Generate table listing articles -->
{% with articles=articles %}
   {% include "articles.html" %}
{% endwith %}

<div class="panel-footer">
   <div class="headline">&nbsp;</div>
{% if articles and offset != 0 %}
   <div class="btn-group pull-left">
      <button id="prev-page" class="btn btn-default" type="button">
         <span class="glyphicon glyphicon-reverse-play"></span>
         Fyrri síða
      </button>
   </div>
{% endif %}
{% if articles and articles|length == limit %}
   <div class="btn-group pull-right">
      <button id="next-page" class="btn btn-default" type="button">
         Næsta síða
         <span class="glyphicon glyphicon-play"></span>
      </button>
   </div>
{% endif %}
</div>
</div>

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='js/common.js') }}"></script>

<script>

   function init() {
      // Activate the top navbar
      $("#navid-news").addClass("active");

{% if articles and offset != 0 %}
      $("#prev-page").click(function(ev) {
         // Go to the previous page
         openURL("{{ url_for('routes.news', topic=topics.id, root=selected_root, author=author, offset=offset-limit) | safe }}", ev);
      });
{% endif %}

{% if articles and articles|length == limit %}
      $("#next-page").click(function(ev) {
         // Go to the next page
         openURL("{{ url_for('routes.news', topic=topics.id, root=selected_root, author=author, offset=offset+limit) | safe }}", ev);
      });
{% endif %}
   }

   $(document).ready(init);

</script>

{% endblock %}
