{% extends "container-normal.html" %}

{% block meta %}

<meta name="robots" content="noindex,nofollow" />

{% endblock %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

<style>
   h1#meta-heading {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 40px;
   }

   h3#meta-author {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-weight: 300;
   }

   h4#meta-timestamp {
      font-weight: 400;
      font-size: 16px;
   }

   h5#meta-url button {
      margin-left: 8px;
      width: 2.5em;
   }

   div#result-translation span i {
      font-style: italic;
      font-size: 1.05em;
   }

   div#result-translation span.good i:hover {
      background-color: #77FF77;
      color: black;
   }

   div#result-translation span.average i:hover {
      background-color: #777777;
      color: white;
   }

   div#result-translation span.bad i:hover {
      color: black;
      background-color: #FF7777;
   }

   div#result-translation span.translated i {
      font-style: normal;
   }

   span#spinner {
      color: #f0ad4e;
   }

   div#summary {
      margin-bottom: 1em;
   }

   div#summary p {
      font-style: italic;
      font-size: 0.8em;
      line-height: 1.3em;
      text-align: right;
      color: #777777;
   }

   div.summary-wrapper {
      display: flex;
      flex-direction: row;
   }

   div#summary-text {
      margin-right: 0.6em;
   }

   div#summary-text p {
      margin-left: 35%;
      font-style: italic;
      font-size: 0.8em;
      line-height: 1.3em;
      text-align: right;
      color: #777777;
   }

   div#summary-langs {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #dae5ff;
      border-radius: 0.2em;
      /*
      border: 0.05em solid #8899ee;
      */
   }

   div#summary-langs .lang {
      display: flex;
      flex-direction: row;
      width: 2.5em;
      height: 2.0em;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }

   div#summary-langs .lang.active {
      border-radius: 0.2em;
      border: 0.08em solid #ffb300;
      background-color: #ffd678;
   }

   div#summary-langs .lang:hover {
      border-radius: 0.2em;
      border: 0.08em solid #ffb300;
   }

   div#summary-langs .lang img {
      height: 1em;
      width: 1.5em;
   }

   .fadeIn {
      animation: fadeIn ease 0.5s;
      -webkit-animation: fadeIn ease 0.5s;
      -moz-animation: fadeIn ease 0.5s;
      -o-animation: fadeIn ease 0.5s;
      -ms-animation: fadeIn ease 0.5s;
   }

   .fadeOut {
      animation: fadeIn reverse ease 0.5s;
      -webkit-animation: fadeIn reverse ease 0.5s;
      -moz-animation: fadeIn reverse ease 0.5s;
      -o-animation: fadeIn reverse ease 0.5s;
      -ms-animation: fadeIn reverse ease 0.5s;
   }

   @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
   }

   @-moz-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
   }

   @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
   }

   @-o-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
   }

</style>

{% endblock %}

{% block content %}
{% if nn_translate_enabled -%}
<div id="info-trnsl">
</div>
{%- endif -%}

<div id="output">

   <div id="column">
      <!-- Article heading and content -->

      <div id="metadata">
         <!-- Article metadata -->
         <div id="topics">

            {% set labelmap = {
            "business" : "label-primary",
            "technology" : "label-primary",
            "sport" : "label-warning",
            "culture" : "label-warning",
            "politics" : "label-success",
            "economy" : "label-success",
            "health" : "label-info",
            "salmon" : "label-info",
            "weather" : "label-danger",
            "accidents" : "label-danger",
            "immigration" : "label-warning"
            } %}

            {% for t in topics -%}
            <span class="topic label {{ labelmap[t.id] }}"><span class="glyphicon glyphicon-tag"></span>{{ t.name
               }}</span>
            {%- endfor -%}
         </div>
         <h1 id="meta-heading">{{ article.heading }}</h1>
         <h3 id="meta-author" class="text-muted">{{ article.author }}</h3>
         <h4 id="meta-timestamp" class="text-muted">{{ article.timestamp | format_ts }}</h4>
         <h5 id="meta-url">
            <a href="{{ article.url }}" target="_blank" rel="noopener noreferrer nofollow">Upphafleg grein
               {%- if article.root_domain -%}
               <img src="{{ url_for('static', filename = 'img/sources/' + article.root_domain + '.png') }}" width="16"
                  height="16">
               {%- endif -%}
            </a>
            <button type="button" class="btn btn-warning" id="refresh" title="Endurgreina">
               <span class="glyphicon glyphicon-restart"></span>
            </button>
            <!--<button type="button" class="btn btn-info" id="check" title="Lesa yfir">
               <span class="glyphicon glyphicon-eye-open"></span>
            </button>-->
         </h5>
      </div>

{% if nn_translate_enabled -%}
      <div id="language-tabs">
         <ul id="language-hdr" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#translation-article-src" aria-controls="icelandic" role="tab" data-toggle="tab">
                  <img src="{{ url_for('static', filename = 'img/flags/IS.png') }}" width="32"
                     height="23">&nbsp;Íslenska&nbsp;
               </a>
            </li>
            <li role="presentation">
               <a id="translate-tgt-btn" href="#translation-article-tgt" aria-controls="translation" role="tab"
                  data-toggle="tab">
                  <span><img src="{{ url_for('static', filename = 'img/flags/GB.png') }}" width="32"
                        height="20">&nbsp;Enska
                  </span>
                  &nbsp;<span id="spinner" style="display: none;"
                     class='glyphicon glyphicon-restart glyphicon-spin-white'></span>
               </a>
            </li>
            <li role="presentation" class="pull-right">
               <div id="help">
                  <h4 class="help"><small>Smelltu á málsgrein til að sjá trjágreiningu hennar</small></h4>
               </div>
            </li>
         </ul>
      </div>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="translation-article-src">
            <div id="result" class="result">
               {% include 'hover-infobox.html' %}
               <div id="pgs">
                  <!-- Result of analysis goes here -->
                  <p>Sæki grein...
                     <span class="glyphicon glyphicon-restart glyphicon-spin"></span>
                  </p>
               </div>

            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="translation-article-tgt">
            <div id="result-translation">
               <!-- Translated article goes here -->
            </div>
         </div>
      </div>
{% else %}
      <div id="result" class="result">

         {% include 'hover-infobox.html' %}

         <div id="summary">
            <!-- Summaries appear here -->
            <p>Sæki samantekt...
               <span class="glyphicon glyphicon-restart glyphicon-spin"></span>
            </p>
         </div>

         <div id="pgs">
            <!-- Result of analysis goes here -->
            <p>Sæki grein...
               <span class="glyphicon glyphicon-restart glyphicon-spin"></span>
            </p>
         </div>
      </div>
{% endif %}
   </div> <!-- column -->

   <div id="register">
      <!-- Name register goes here -->
      <h3>Nafnalisti</h3>
      <ul id="namelist"></ul>
   </div>

   <div id="similar">
      <!-- List of similar articles goes here -->
      <h3>Svipaðar greinar</h3>
      <div id="similar-content">
         <span class='glyphicon glyphicon-restart glyphicon-spin'></span>
      </div>
   </div>

   <div id="statistics">
      <!-- Statistics go here -->
      <h3>Tölfræði</h3>
      <ul id="statistics-summary">
         <!-- Statistics get populated in page.js -->
      </ul>
   </div>

</div>

{% endblock %}

{% block endscripts %}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% if nn_translate_enabled -%}
<script src="{{ url_for('static', filename='js/translation.js') }}"></script>
{%- endif %}

<script>

   // Include the tokens in the page script as a JSON structure
   // noinspection SyntaxError
   const j =
      {{ article.tokens | safe }}
   ;

   // Name and title list
   // Note: the variable nameDict has already been declared
   nameDict = {{ register | tojson | safe }};

   // Article statistics
   const stats = {
      num_tokens: {{ article.num_tokens }},
      num_sentences: {{ article.num_sentences }},
      num_parsed: {{ article.num_parsed }},
      ambiguity: {{ article.ambiguity }}
   };

   // By default, show summary in Icelandic
   let currentSummary = {};
   let summaryLanguage = "is_IS";

   function handleError(xhr, status, errorThrown) {
      /* An error occurred on the server or in the communications */
      $("div#help").css("display", "none");
      $("div#pgs").html("<p><b>Villa kom upp</b> í samskiptum við netþjón Greynis</p>");
      $("button#refresh").removeAttr("disabled");
      $("button#check").removeAttr("disabled");
   }

   function populateArticle(json) {
      var jResult = null;
      if (!!json.result)
         // The JSON arrives as a string in the result field
         jResult = $.parseJSON(json.result);
      j = jResult;
      displayTokens(jResult);
      // Show help text
      $("div#help").css("display", "block");
      // Display similar articles
      $("div#similar").css("display", "block");
      // Show statistics
      populateStats(json.stats);
      $("div#statistics").css("display", "block");
      nameDict = json.register;
      populateRegister();
      $("button#refresh").removeAttr("disabled");
      $("button#check").removeAttr("disabled");
   }

   function reparseArticle(uuid) {
      // Ask the server to scrape, tokenize and parse a fresh URL
      // Launch the query
      $("div#help").css("display", "none");
      $("div#pgs").html("<p>Málgreining stendur yfir... " +
         "<span class='glyphicon glyphicon-restart glyphicon-spin'></span>" +
         "</p>");
      $("button#refresh").attr("disabled", "disabled");
      $("button#check").attr("disabled", "disabled");
      $("div#statistics").css("display", "none");
      $("div#register").css("display", "none");
      $("div#similar").css("display", "none");
      serverQuery('/reparse.api', // Endpoints with .api suffix are not cached
         {
            id: uuid
         },
         populateArticle,
         null,
         handleError
      );
   }

   function checkArticle() {
      /*
      // Send the text of the current article over to correct.html
      // for spelling and grammar checking
      var txt = "";
      $.each($("div#pgs p"), function () {
         // Handle each paragraph
         var ptxt = "";
         $.each($("span.sent", this), function () {
            // Handle each sentence
            ptxt += $(this).text() + " ";
         });
         txt += ptxt + "\n\n";
      });
      // POST to the /correct page
      serverPost("/correct", { txt: txt });
      */
   }

   function fetchSummaries() {
      const errmsg = "Ekki tókst að sækja samantekt.";
      serverQuery('/summary.api',
         { id: "{{ article.uuid | safe }}" },
         (resp) => {
            summaryLanguage = "is_IS";
            if (resp && resp.summary) {
               // We have a valid set of summaries
               currentSummary = resp.summary;
               createSummaryDiv();
            } else {
               $("#summary").html("<p>" + errmsg + "</p>");
            }
         },
         null,
         () => $("#summary").html("<p>" + errmsg + "</p>")
      );
   }

   // Create a div for summaries where the user can select a language
   // from icons on the right hand side
   function createSummaryDiv() {
      const lang = summaryLanguage;
      const html =
         "<div class='summary-wrapper'>" +
            "<div id='summary-text'>" +
               "<p>" + (currentSummary[lang] || "") + "</p>" +
            "</div>" +
            "<div>" +
               "<div id='summary-langs'>" +
                  "<div class='lang' id='is_IS'>" +
                     // Icelandic flag icon image
                     "<img src='{{ url_for('static', filename='img/flags/IS.png') }}' />" +
                  "</div>" +
                  "<div class='lang' id='en_US'>" +
                     // UK flag icon image
                     "<img src='{{ url_for('static', filename='img/flags/GB.png') }}' />" +
                  "</div>" +
                  "<div class='lang' id='pl_PL'>" +
                     // Polish flag icon image
                     "<img src='{{ url_for('static', filename='img/flags/PL.png') }}' />" +
                  "</div>" +
               "</div>" +
            "</div>" +
         "</div>";
      $("#summary").html(html);
      $("#summary-langs #" + lang).addClass("active");
      // Allow switching between languages
      $("#summary-langs .lang").click(function () {
         const id = $(this).attr("id");
         if (id) {
            summaryLanguage = id;
            $("#summary-langs .lang").removeClass("active");
            $(this).addClass("active");
            const p = $("#summary-text p");
            p.text(currentSummary[id] || "");
         }
      });
   }

   function fetchSimilarArticles() {
      const errmsg = "Ekki tókst að sækja svipaðar greinar.";
      serverQuery('/similar',
         { id: "{{ article.uuid | safe }}" },
         function (resp) {
            let html = errmsg;
            if (resp && resp["err"] === false) {
               html = resp["payload"];
            }
            $("#similar-content").html(html);
         },
         null,
         function () {
            $("#similar-content").html(errmsg);
         }
      );
   }

   function init() {
      // Show help text
      $("div#help").show();
      $("button#refresh").click(function (ev) {
         reparseArticle("{{ article.uuid | safe }}");
      });
      $("button#check").click(checkArticle);
      displayTokens(j);
      // Show similar list
      $("div#similar").show();
      // Show statistics
      populateStats(stats);
      $("div#statistics").show();
      populateRegister();

      $('#lang-hdr a').click(function () {
         $(this).tab('show');
      });
      $('#lang-hdr a:first').tab('show');

      // Lazily fetch summaries
      fetchSummaries();

      // Lazily fetch similar articles (slow)
      fetchSimilarArticles();
   }

   {% if nn_translate_enabled -%}
   $("#translate-tgt-btn").click(function (item) {
      doTranslation();
   });
   $("#translation-article-src").click(function (item) {
      showOriginalArticle();
   });
   {% endif %}

   $(document).ready(init);

</script>

{% endblock %}