
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

<link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">

<style>

   h1#meta-heading {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 40px;
   }

   h3#meta-author {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-weight: 300;
   }

   h4#meta-timestamp {
      font-weight: 400;
      font-size: 16px;
   }

</style>

{% endblock %}

{% block content %}

<div id="output">

   <!-- Popup with info about the word being hovered over -->
   <div id="info">
      <table>
      <tr>
      <td><span id="tag" class='glyphicon glyphicon-tag'></span></td>
      <td id="lemma"></td>
      </tr>
      </table>
      <p id="details"></p>
      <p id="grammar"></p>
      <div id="percent" class="progress">
         <div class="progress-bar progress-bar-info" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">0%</span>
         </div>
      </div>
   </div>

   <div id="column">
      <!-- Article heading and content -->

      <div id="metadata">
         <!-- Article metadata -->
         <div id="topics">

{% set labelmap = {
   "business" : "label-primary",
   "technology" : "label-primary",
   "sport" : "label-warning",
   "culture" : "label-warning",
   "politics" : "label-success",
   "economy" : "label-success",
   "health" : "label-info",
   "salmon" : "label-info",
   "weather" : "label-danger",
   "accidents" : "label-danger",
   "immigration" : "label-warning"
} %}

{% for t in topics -%}
            <span class="topic label {{ labelmap[t.id] }}"><span class="glyphicon glyphicon-tag"></span>{{ t.name }}</span>
{%- endfor -%}
         </div>
         <h1 id="meta-heading">{{ article.heading }}</h1>
         <h3 id="meta-author" class="text-muted">{{ article.author }}</h3>
         <h4 id="meta-timestamp" class="text-muted">{{ article.timestamp | format_ts }}</h4>
         <h5 id="meta-url">
            <a href="{{ article.url }}" target="_blank">Upphafleg grein
{%- if article.root_domain -%}
               <img src="{{ url_for('static', filename = article.root_domain + '.ico') }}" width="16" height="16">
{%- endif -%}
            </a>
            <button type="button" class="btn btn-warning refresh" title="Endurgreina"><span class="glyphicon glyphicon-restart"></span></button>
         </h5>
      </div>

      <div id="help">
         <h3 class="help"><small>Smelltu á málsgrein til að sjá trjágreiningu hennar</small></h3>
      </div>

      <div id="result">
         <!-- Result of analysis goes here -->
         <p>Sæki grein... <span class="glyphicon glyphicon-restart glyphicon-spin"></span></p>
      </div>

   </div> <!-- column -->

   <div id="register">
      <!-- Name register goes here -->
      <h3>Nafnalisti</h3>
      <ul id="namelist"></ul>
   </div>

   <div id="similar">
      <!-- List of similar articles goes here -->
      <h3>Svipaðar greinar</h3>
      <ul id="similarlist">
{% for sa in similar %}
         <li>
            <span class="timestamp">{{ sa.ts_text }}</span>
            <img src="{{ url_for('static', filename = sa.domain + '.ico') }}" width="16" height="16">
            <a href="{{ url_for('page', id = sa.uuid) }}"><span class="heading">{{ sa.heading }}</span></a>
            <span class="similarity">{{ sa.similarity | format_is(1) }}%</span>
         </li>
{% endfor %}
      </ul>
   </div>

   <div id="statistics">
      <!-- Statistics go here -->
      <h3>Tölfræði</h3>
      <ul>
         <li>Textinn inniheldur <span id="tok-num">0</span> eindir í
            <span id="num-sent">0</span> málsgreinum.</li>
         <li>Það tókst að greina <span id="num-parsed-sent">0</span> málsgreinar eða
            <span id="num-parsed-ratio">0,0</span>%.</li>
         <li>Margræðnistuðull var
            <span id="avg-ambig-factor">1,00</span>.</li>
      </ul>
   </div>

</div>

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='page.js') }}"></script>

<script>

   // Include the tokens in the page script as a JSON structure
   // noinspection SyntaxError
   var j =
      {{ article.tokens | safe }}
      ;

   // Name and title list
   nameDict = {{ register | tojson | safe }};

   // Article statistics
   var stats = {
      num_tokens: {{ article.num_tokens }},
      num_sentences: {{ article.num_sentences }},
      num_parsed: {{ article.num_parsed }},
      ambiguity: {{ article.ambiguity }}
   };

   function handleError(xhr, status, errorThrown) {
      /* An error occurred on the server or in the communications */
      $("div#help").css("display", "none");
      $("div#result").html("<p><b>Villa kom upp</b> í samskiptum við netþjón Greynis</p>"); 
      $("button.refresh").removeAttr("disabled");
   }

   function populateArticle(json) {
      var jResult = null;
      if (!!json.result)
         // The JSON arrives as a string in the result field
         jResult = $.parseJSON(json.result);
      j = jResult;
      displayTokens(jResult);
      // Show help text
      $("div#help").css("display", "block");
      // Display similar articles
      $("div#similar").css("display", "block");
      // Show statistics
      populateStats(json.stats);
      $("div#statistics").css("display", "block");
      nameDict = json.register;
      populateRegister();
      $("button.refresh").removeAttr("disabled");
   }

   function reparseArticle(uuid) {
      // Ask the server to scrape, tokenize and parse a fresh URL
      // Launch the query
      $("div#help").css("display", "none");
      $("div#result").html("<p>Málgreining stendur yfir... " +
         "<span class='glyphicon glyphicon-restart glyphicon-spin'></span>" +
         "</p>");
      $("button.refresh").attr("disabled", "disabled");
      $("div#statistics").css("display", "none");
      $("div#register").css("display", "none");
      $("div#similar").css("display", "none");
      serverQuery('/reparse.api', // Endpoints with .api suffix are not cached
         {
            id : uuid
         },
         populateArticle,
         null,
         handleError
      );
   }

   function init() {
      // Show help text
      $("div#help").css("display", "block");
      // Clicking on the info panel makes it disappear
      // (necessary for touch screens)
      $("#info")
         .click(function(ev) {
            ev.stopPropagation();
            $(this).css("visibility", "hidden");
         });
      $("button.refresh")
         .click(function(ev) {
            reparseArticle("{{ article.uuid | safe }}");
         });
      displayTokens(j);
      // Show similar list
      $("div#similar").css("display", "block");
      populateStats(stats);
      // Show statistics
      $("div#statistics").css("display", "block");
      populateRegister();
   }

   $(document).ready(init);

</script>

{% endblock %}

