
{% extends "container-fluid.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div class="input-parsegrid">

   <div class="row">

      <h4 class="txt">
         <button id="edit-sent" title="Breyta málsgrein">
            <span class="glyphicon glyphicon-edit"></span>Breyta
         </button> {{ txt }}
      </h4>

   </div>

   <div class="row">
{% if combinations == 0 %}
      <p class="options">Engin greining fannst.</p>
      <p class="err">{{ err.msg }}</p>
{% if err.info %}
      <p>Síðasta staða málgreinis:</p>
<table class="parser-state">
<thead>
<tr>
<th>Nonterminal</th>
<th>Production</th>
<th class="parser-start">Start</th>
</tr>
</thead>
<tbody>
{% for state in err.info %}
<tr>
<td>{{ state[0] }}</td>
<td>
{% for p in state[2] %}
{{ "\u25CF " if loop.index0 == state[1] else "" }}{{ p }}
{% endfor %}
{{ "\u25CF" if state[2] | length == state[1] else "" }}
</td>
<td class="parser-start">{{ state[3] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% elif combinations == 1 %}
      <p class="text-info">Ein trjágreining fannst, með einkunn <b>{{ score }}</b></p>
{% else %}
      <p class="text-info">{{ combinations | format_is }} trjágreiningar fundust, besta einkunn <b>{{ score }}</b>
{% if choice_list | length < 20 %}
{% for c in choice_list %}
<span class='choice{{ " shown" if c == parse_path else "" }}'>{{ c }}</span>
{% endfor %}
{% endif %}
      </p>
{% endif %}
   </div>

</div>

{% if tbl %}
   <div class="grid">
   <div class="table-responsive">
      <table>

{% for r in tbl %}
         <tr>
{% for c in r %}
{% if 'terminal' in c[3] %}
<td class="t" colspan="{{ c[0] }}" rowspan="{{ c[1] }}">
{%- if c[2][0] | string | first != "'" and c[2][0] | string | first != '"' -%}
   {{ c[2][0] }}<br>
{%- endif -%}
   <span class='tok'>{{ c[2][1] }}</span></td>
{% elif c[2] == '' %}
<td colspan="{{ c[0] }}">&nbsp;</td>
{% else %}
<td class="nt" colspan="{{ c[0] }}">{{ c[2] }}</td>
{% endif %}
{% endfor %}
         </tr>
{% endfor %}
      </table>
   </div>
   </div>
{% endif %}

{% endblock %}

{% block endscripts %}

<script>

// HTML transcoding entities

var entityMap = {
   "&": "&amp;",
   "<": "&lt;",
   ">": "&gt;",
   '"': '&quot;',
   "'": '&#39;',
   "/": '&#x2F;'
};

function escapeHtml(string) {
   /* Utility function to properly encode a string into HTML */
   return String(string).replace(/[&<>"'\/]/g, function (s) {
      return entityMap[s];
   });
}

function nullFunc(json) {
   /* Null placeholder function to use for Ajax queries that don't need a success func */
}

function nullCompleteFunc(xhr, status) {
   /* Null placeholder function for Ajax completion */
}

function errFunc(xhr, status, errorThrown) {
   /* Default error handling function for Ajax communications */
   // alert("Villa í netsamskiptum");
   console.log("Error: " + errorThrown);
   console.log("Status: " + status);
   console.dir(xhr);
}

function serverQuery(requestUrl, jsonData, successFunc, completeFunc, errorFunc) {
   /* Wraps a simple, standard Ajax request to the server */
   $.ajax({
      // The URL for the request
      url: requestUrl,

      // The data to send
      data: jsonData,

      // Whether this is a POST or GET request
      type: "POST",

      // The type of data we expect back
      dataType : "json",

      cache: false,

      // Code to run if the request succeeds;
      // the response is passed to the function
      success: (!successFunc) ? nullFunc : successFunc,

      // Code to run if the request fails; the raw request and
      // status codes are passed to the function
      error: (!errorFunc) ? errFunc : errorFunc,

      // code to run regardless of success or failure
      complete: (!completeFunc) ? nullCompleteFunc : completeFunc
   });
}

function serverPost(url, parameters) {
   /* Post to the provided URL with the specified parameters */
   var form = $('<form method="post"></form>');
   form.attr("action", url);
   $.each(parameters, function(key, value) {
      var field = $('<input type="hidden"></input>');
      field.attr("name", key);
      field.attr("value", value);
      form.append(field);
   });
   // The form needs to be a part of the document
   // to allow submission, at least in some browsers
   $(document.body).append(form);
   form.submit();
}

// Hold the text to be displayed

var theText = {{ txt | tojson }};

function showOption(ev) {
   /* A parse option has been clicked: show its parse grid */
   var parsePath = $(ev.delegateTarget).text();
   // Do an HTML POST to the parsegrid URL, passing
   // the sentence text within a synthetic form
   serverPost("/parsegrid", { txt: theText, option: parsePath })
}

function addSentence(sentence, shouldParse) {
   // Add a sentence to the test database
   serverQuery('/addsentence.api', // Endpoint with .api extension is not cached
      { sentence: sentence, shouldparse: shouldParse }
   );
}

function addValidSentence() {
   if (!$("#add-valid-sent").prop("disabled"))
      addSentence(theText, true);
   // Prevent adding multiple instances
   $(".btn").prop("disabled", true);
   $(".btn").addClass("disabled");
}

function addInvalidSentence() {
   if (!$("#add-invalid-sent").prop("disabled"))
      addSentence(theText, false);
   // Prevent adding multiple instances
   $(".btn").prop("disabled", true);
   $(".btn").addClass("disabled");
}

function editSentence() {
   // Navigate to the analysis page with the text pre-set
   window.location.href = "/analysis?txt=" + encodeURIComponent(theText);
}

function initMain(jQuery) {
   // Initialization
   $("#add-valid-sent").click(addValidSentence);
   $("#add-invalid-sent").click(addInvalidSentence);
   $("#edit-sent").click(editSentence);
   // Allow clicking on parse options to show them
   $("span.choice").click(showOption);
}

$(document).ready(initMain);

</script>

{% endblock %}

