
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<!-- List of people in the news goes here -->
<div class="panel panel-default table-responsive">
<div class="panel-heading">Fólk í nýlegum fréttum vefmiðla</div>
<table class="table table-hover" id="plist">
   <thead>
      <th class="gender">Kyn</th>
      <th>Nafn</th>
      <th>Titill</th>
   </thead>
   <tbody>
{% for person in persons %}
      <tr class="topitem" data-uuid="{{ person.uuid }}">
{% if person.gender == 'kk' %}
         <td class="gender" title="Karl"><span class="glyphicon glyphicon-gender-male"></span></td>
         <td class="name"><span class="text-info">{{ person.name }}</span></td>
{% elif person.gender == 'kvk' %}
         <td class="gender" title="Kona"><span class="glyphicon glyphicon-gender-female"></span></td>
         <td class="name"><span class="text-danger">{{ person.name }}</span></td>
{% else %}
         <td class="gender"></td>
         <td class="name">{{ person.name }}</td>
{% endif %}
         <td class="title">{{ person.title }}</td>
      </tr>
{% endfor %}
   </tbody>
</table>
</div>

{% endblock %}

{% block endscripts %}

<script>

   function init() {
      // Activate the top navbar
      $("#navid-people").addClass("active");
      // Enable clicking on a list item
      $("tr.topitem").click(function(ev) {
         // A person name has been clicked: show the article where s/he appears
         var uuid = $(this).attr("data-uuid");
         window.location.href = "{{ url_for('page') }}?id=" + uuid;
      });
   }

   $(document).ready(init);

</script>

{% endblock %}

