
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div class="panel panel-default table-responsive">
<div class="panel-heading">Fjöldi frétta og málsgreina í gagnagrunni Greynis eftir vefjum</div>
<table class="table table-hover" id="stable">
   <thead>
      <th>Vefur</th>
      <th class="count">Fréttir</th>
      <th class="count">Málsgreinar</th>
      <th class="count">Þar af trjágreindar</th>
      <th class="count">%</th>
   </thead>
   <tbody>
{% for r in result %}
{% if r.sent %}
      <tr>
         <td class="domain"><img src="{{ url_for('static', filename = 'sources/' + r.domain + '.png') }}"
            width="16" height="16">&nbsp;&nbsp;{{ r.domain }}</td>
         <td class="count">{{ r.art | format_is }}</td>
         <td class="count">{{ r.sent | format_is }}</td>
         <td class="count">{{ r.parsed | format_is }}</td>
         <td class="count">{{ (r.parsed / r.sent * 100) | format_is(1) }}%</td>
      </tr>
{% endif %}
{% endfor %}
   </tbody>
{% if total.sent %}
   <tfoot>
      <tr>
         <td class="domain">Samtals</td>
         <td class="count">{{ total.art | format_is }}</td>
         <td class="count">{{ total.sent | format_is }}</td>
         <td class="count">{{ total.parsed | format_is }}</td>
         <td class="count">{{ (total.parsed / total.sent * 100) | format_is(1) }}%</td>
      </tr>
   </tfoot>
{% endif %}
</table>
</div>

<div class="panel panel-default table-responsive">
<div class="panel-heading">Nöfn karla og kvenna í gagnagrunni Greynis þar sem
      titill eða starfsheiti kemur fram<br>
      <small>Nafn er aðeins talið einu sinni í hverri frétt eða grein</small></div>
<table class="table table-hover" id="dtable">
   <thead>
      <th>Vefur</th>
      <th class="count female"><span class="glyphicon glyphicon-gender-female"></span> Konur</th>
      <th class="count female">%</th>
      <th class="count male"><span class="glyphicon glyphicon-gender-male"></span> Karlar</th>
      <th class="count male">%</th>
      <th class="count total">Samtals</th>
   </thead>
   <tbody>
{% for r in gresult %}
{% if r.total %}
      <tr>
         <td class="domain"><img src="{{ url_for('static', filename = 'sources/' + r.domain + '.png') }}"
            width="16" height="16">&nbsp;&nbsp;{{ r.domain }}</td>
         <td class="count female">{{ r.kvk | format_is }}</td>
         <td class="count female">{{ (r.kvk / (r.kvk + r.kk) * 100) | format_is(1) }}%</td>
         <td class="count male">{{ r.kk | format_is }}</td>
         <td class="count male">{{ (r.kk / (r.kvk + r.kk) * 100) | format_is(1) }}%</td>
         <td class="count total">{{ r.total | format_is }}</td>
      </tr>
{% endif %}
{% endfor %}
   </tbody>
{% if gtotal.total %}
   <tfoot>
      <tr>
         <td class="domain">Samtals</td>
         <td class="count female">{{ gtotal.kvk | format_is }}</td>
         <td class="count female">{{ (gtotal.kvk / (gtotal.kvk + gtotal.kk) * 100) | format_is(1) }}%</td>
         <td class="count male">{{ gtotal.kk | format_is }}</td>
         <td class="count male">{{ (gtotal.kk / (gtotal.kvk + gtotal.kk) * 100) | format_is(1) }}%</td>
         <td class="count total">{{ gtotal.total | format_is }}</td>
      </tr>
   </tfoot>
{% endif %}
</table>
</div>


<div class="panel panel-default">
   <div class="panel-heading">Nýleg gögn</div>
   <canvas id="scraped_chart_canvas" style="padding: 25px;"></canvas>
</div>

<div class="panel panel-default">
   <div class="panel-heading">Trjágreining</div>
   <canvas id="parsed_chart_canvas" style="padding: 25px;"></canvas>
</div>

{% endblock %}

{% block endscripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>

   function initCharts() {

      var scrapeChartData = {{ scraped_chart_data | safe }};
      
      var parseChartData = {{ parsed_chart_data | safe }};

      // Scraped articles stacked bar chart
      var scrapeCtx =  $('#scraped_chart_canvas').get(0).getContext('2d');
      var scrapeChart = new Chart(scrapeCtx, {
         type: 'bar',
         data: scrapeChartData,
         options: {
            legend: {
               display: true,
               position: 'bottom',
            },
            tooltips: {
               mode: 'index',
               intersect: false,
            },
            responsive: true,
            scales: {
               xAxes: [{
                  stacked: true,
               }],
               yAxes: [{
                  stacked: true,
               }]
            }
         }
      });

      // Parsed % chart
      var parseCtx =  $('#parsed_chart_canvas').get(0).getContext('2d');
      parseChartData.datasets[0].backgroundColor = 'rgba(200, 222, 255, 0.5)';
      // parseChartData.datasets[0].fill = true;
      var parseChart = new Chart(parseCtx, {
         type: 'line',
         data: parseChartData,
         options: {
            legend: {
               display: false,
            },
            tooltips: {
               callbacks: {
                  label: function(tooltipItem, data) {
                     return tooltipItem.yLabel + '%';
                  },
               }
            },
            scales: {
               xAxes: [{
                  distribution: 'series',
               }],
               yAxes: [{
                  ticks: {
                     min: 80,
                     max: 100,
                     callback: function(tick) {
                        return tick.toString() + '%';
                     }
                  }
               }]
            }
         }
      });
   }

   function init() {
      // Activate the top navbar
      $("#navid-stats").addClass("active");
      // Set up charts
      initCharts();
   }

   $(document).ready(init);

</script>

{% endblock %}

