
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div class="panel panel-default table-responsive">
<div class="panel-heading">Fjöldi frétta og málsgreina í gagnagrunni Greynis eftir vefjum</div>
<div class="table-scroll-wrapper">
<table class="table table-hover" id="stable">
   <thead>
      <th>Vefur</th>
      <th class="count">Fréttir</th>
      <th class="count">Málsgreinar</th>
      <th class="count">Þar af trjágreindar</th>
      <th class="count">%</th>
   </thead>
   <tbody>
{% for r in result %}
{% if r.sent %}
      <tr class="topitem" data-domain="{{ r.domain }}">
         <td class="domain"><img src="{{ url_for('static', filename = 'sources/' + r.domain + '.png') }}"
            width="16" height="16">&nbsp;&nbsp;{{ r.domain }}
         </td>
         <td class="count">{{ r.art | format_is }}</td>
         <td class="count">{{ r.sent | format_is }}</td>
         <td class="count">{{ r.parsed | format_is }}</td>
         <td class="count">{{ (r.parsed / r.sent * 100) | format_is(1) }}%</td>
      </tr>
{% endif %}
{% endfor %}
   </tbody>
{% if total.sent %}
   <tfoot>
      <tr>
         <td class="domain">Samtals</td>
         <td class="count">{{ total.art | format_is }}</td>
         <td class="count">{{ total.sent | format_is }}</td>
         <td class="count">{{ total.parsed | format_is }}</td>
         <td class="count">{{ (total.parsed / total.sent * 100) | format_is(1) }}%</td>
      </tr>
   </tfoot>
{% endif %}
</table>
</div>
</div>

<div class="panel panel-default table-responsive">
<div class="panel-heading">Nöfn karla og kvenna í gagnagrunni Greynis þar sem
      titill eða starfsheiti kemur fram<br>
      <small>Nafn er aðeins talið einu sinni í hverri frétt eða grein</small>
</div>
<div class="table-scroll-wrapper">
<table class="table table-hover" id="dtable">
   <thead>
      <th>Vefur</th>
      <th class="count female"><span class="glyphicon glyphicon-gender-female"></span> <span class="hidden-xs">Konur</span></th>
      <th class="count female">%</th>
      <th class="count male"><span class="glyphicon glyphicon-gender-male"></span> <span class="hidden-xs">Karlar</span></th>
      <th class="count male">%</th>
      <th class="count total">Samtals</th>
   </thead>
   <tbody>
{% for r in gresult %}
{% if r.total %}
      <tr class="topitem" data-domain="{{ r.domain }}">
         <td class="domain"><img src="{{ url_for('static', filename = 'sources/' + r.domain + '.png') }}"
            width="16" height="16">&nbsp;&nbsp;{{ r.domain }}</td>
         <td class="count female">{{ r.kvk | format_is }}</td>
         <td class="count female">{{ (r.kvk / (r.kvk + r.kk) * 100) | format_is(1) }}%</td>
         <td class="count male">{{ r.kk | format_is }}</td>
         <td class="count male">{{ (r.kk / (r.kvk + r.kk) * 100) | format_is(1) }}%</td>
         <td class="count total">{{ r.total | format_is }}</td>
      </tr>
{% endif %}
{% endfor %}
   </tbody>
{% if gtotal.total %}
   <tfoot>
      <tr>
         <td class="domain">Samtals</td>
         <td class="count female">{{ gtotal.kvk | format_is }}</td>
         <td class="count female">{{ (gtotal.kvk / (gtotal.kvk + gtotal.kk) * 100) | format_is(1) }}%</td>
         <td class="count male">{{ gtotal.kk | format_is }}</td>
         <td class="count male">{{ (gtotal.kk / (gtotal.kvk + gtotal.kk) * 100) | format_is(1) }}%</td>
         <td class="count total">{{ gtotal.total | format_is }}</td>
      </tr>
   </tfoot>
{% endif %}
</table>
</div>
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      Nafngreindir höfundar<br>
      <small>með hæsta greiningarhlutfall síðustu 30 daga</small>
   </div>
   <table class="table table-hover" id="dtable">
      <tbody>
         {% for a in authresult %}
         <tr class="authitem" data-author="{{ a.name | safe }}">
            {% if a.gender == 'kk' %}
            <td class="gender" title="Karl"><span class="glyphicon glyphicon-gender-male"></span></td>
            {% elif a.gender == 'kvk' %}
            <td class="gender" title="Kona"><span class="glyphicon glyphicon-gender-female"></span></td>
            {% endif %}
            <td>{{ a.name | safe }}</td>
            <td class="count">{{ a.perc | format_is(1) }}%</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      Nýleg gögn
      <div class="pull-right hidden-xs">Meðaltal síðustu daga: <strong>{{ scraped_avg }} gr./dag</strong></div>
   </div>
   <canvas id="scraped_chart_canvas" style="padding: 25px;"></canvas>
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      Trjágreining
      <div class="pull-right hidden-xs">Meðaltal síðustu daga: <strong>{{ parsed_avg | format_is(1) }}%</strong></div>
   </div>
   <canvas id="parsed_chart_canvas" style="padding: 25px;"></canvas>
</div>

<!--
<div class="panel panel-default">
   <div class="panel-heading">
      Fyrirspurnir
      <div class="pull-right hidden-xs">Meðaltal síðustu daga: <strong>{{ queries_avg | format_is(1) }} á dag</strong></div>
   </div>
   <canvas id="queries_chart_canvas" style="padding: 25px;"></canvas>
</div>
-->

{% endblock %}

{% block endscripts %}

<script src="{{ url_for('static', filename='js/common.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>

   function initCharts() {

      Chart.defaults.global.defaultFontFamily = "Lato";

      var scrapeChartData = {{ scraped_chart_data | safe }};
      
      var parseChartData = {{ parsed_chart_data | safe }};

      var queriesChartData = {{ queries_chart_data | safe }};

      // Scraped articles stacked bar chart
      var scrapeCtx =  $('#scraped_chart_canvas').get(0).getContext('2d');
      var scrapeChart = new Chart(scrapeCtx, {
         type: 'bar',
         data: scrapeChartData,
         options: {
            legend: {
               display: true,
               position: 'bottom',
            },
            tooltips: {
               mode: 'index',
               intersect: false,
            },
            responsive: true,
            scales: {
               xAxes: [{
                  stacked: true,
               }],
               yAxes: [{
                  stacked: true,
               }]
            }
         }
      });

      // Parsed % chart
      var parseCtx =  $('#parsed_chart_canvas').get(0).getContext('2d');
      parseChartData.datasets[0].backgroundColor = 'rgba(200, 222, 255, 0.5)';
      // parseChartData.datasets[0].fill = true;
      var parseChart = new Chart(parseCtx, {
         type: 'line',
         data: parseChartData,
         options: {
            legend: {
               display: false,
            },
            tooltips: {
               callbacks: {
                  label: function(tooltipItem, data) {
                     return tooltipItem.yLabel + '%';
                  },
               }
            },
            scales: {
               xAxes: [{
                  distribution: 'series',
               }],
               yAxes: [{
                  ticks: {
                     min: 80,
                     max: 100,
                     callback: function(tick) {
                        return tick.toString() + '%';
                     }
                  }
               }]
            }
         }
      });

      // Queries chart
      /*var queriesCtx =  $('#queries_chart_canvas').get(0).getContext('2d');
      
      queriesChartData.datasets[0].backgroundColor = '#eb3732';
      // parseChartData.datasets[0].fill = true;
      var queriesChart = new Chart(queriesCtx, {
         type: 'bar',
         data: queriesChartData,
         options: {
            legend: {
               display: false,
               position: 'bottom',
            },
            tooltips: {
               mode: 'index',
               intersect: false,
            },
            responsive: true,
            scales: {
               xAxes: [{
                  stacked: true,
               }],
               yAxes: [{
                  ticks: {
                     stepSize: 500,
                     min: 0,
                     callback: function(tick) {
                        return tick.toString();
                     }
                  },
                  stacked: true,
               }]
            }
         }
      });*/
      
   }

   function init() {

      // Activate the top navbar
      $("#navid-stats").addClass("active");
      
      // Enable clicking on source items
      $("tr.topitem").click(function(ev) {
         // A source has been clicked. Show articles from source.
         var domain = $(this).attr("data-domain");
         openURL("{{ url_for('routes.news') }}?root=" + domain, ev);
      });

      $("tr.authitem").click(function(ev) {
         // An author name has been clicked.
         var authName = $(this).attr("data-author");
         openURL("{{ url_for('routes.news') }}?author=" + authName, ev);
      });
      
      // Set up charts
      initCharts();
   }

   $(document).ready(init);

</script>

{% endblock %}

