
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='main.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

   <div class="input">

      <p class="header"><a href="{{ url_for('main') }}">Reynir</a></p>

      <p class="author">málgreinir fyrir íslensku<br>eftir Vilhjálm Þorsteinsson</p>

   </div>

   <div class="result">
   <table>
{% for r in result %}
      <tr>
      <td>{{ r["identity"] }}</td>
      <td>{{ r["sentence"] }}</td>
      <td>{{ r["numtrees"] }}</td>
      <td>{{ r["best"] }}</td>
      <td>{{ '%0.2f' | format(r["parse_time"]) }}</td>
      <td>{{ r["err"] }}</td>
      </tr>
{% endfor %}
   </table>
   </div>

{% endblock %}

{% block endscripts %}

<script>

   function initMain(jQuery) {
      // Initialization
   }

   $(document).ready(initMain);

</script>

{% endblock %}

