
{% extends "container.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='main.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<div class="test-container">

   <div class="input">

      <p class="header"><a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='img/GreynirLogo404x180.png') }}" width=202 height=90></a></p>

      <p class="author">málgreinir fyrir íslensku<br>
      <b>alfa-prófunarútgáfa</b><br>
      eftir Vilhjálm Þorsteinsson<br>
      (sjá <a href="https://github.com/vthorsteinsson/Reynir" target="_blank">nánar á GitHub</a>)</p>

   </div>

   <div class="result">

   <p>Prófunarsetningar:</p>

   <table>
      <thead>
         <tr>
         <th class="result-id">#</th>
         <th class="result-sent">Setning</th>
         <th class="result-num">Tré</th>
         <th class="result-best">Best</th>
         <th class="result-target">Mark</th>
         <th class="result-time">Tími</th>
         <th class="result-err">Villa</th>
         </tr>
      </thead>
      <tbody>
{% for r in result %}
      <tr>
      <td class="result-id">{{ r["identity"] }}</td>
      <td class="result-sent">{{ r["sentence"] }}</td>
      <td class="result-num">{{ r["numtrees"] }}</td>
      <td class="result-best">{{ r["best"] }}</td>
      <td class="result-target">{{ r["target"] }}</td>
      <td class="result-time">{{ '%0.3f' | format(r["parse_time"]) }}</td>
      <td class="result-err">{{ r["err"] }}</td>
      </tr>
{% endfor %}
      </tbody>
   </table>
   </div>

</div>

{% endblock %}

{% block endscripts %}

<script>

function serverPost(url, parameters) {
   /* Post to the provided URL with the specified parameters */
   var form = $('<form method="post"></form>');
   form.attr("action", url);
   $.each(parameters, function(key, value) {
      var field = $('<input type="hidden"></input>');
      field.attr("name", key);
      field.attr("value", value);
      form.append(field);
   });
   // The form needs to be a part of the document
   // to allow submission, at least in some browsers
   $(document.body).append(form);
   form.submit();
}

function showParse(ev) {
   /* A sentence has been clicked: show its parse grid */
   var sentText = $(ev.delegateTarget).text();
   // Do an HTML POST to the parsegrid URL, passing
   // the sentence text within a synthetic form
   serverPost("/parsegrid", { txt: sentText })
}

function initMain(jQuery) {
   // Initialization
   // Put a click handler on each parsed sentence
   $("td.result-sent").click(showParse);
}

$(document).ready(initMain);

</script>

{% endblock %}

