
{% extends "container-normal.html" %}


{% block meta %}

{% endblock %}


{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>

{% endblock %}

{% block content %}


<div class="panel panel-default">
   <div class="panel-heading">
      Orðtíðni í fréttum vefmiðla
      <br>
      <small>Sláðu inn eitt eða fleiri orð og veldu tímabil</small>
   </div>
   <div style="padding:10px;">
      <span>
         Orð <input id="words" name="words" value="veira:kvk, smit:hk" style="margin-right: 10px; width:310px;">
      </span>
      <span>
         Tímabil <input name="daterange" id="daterange" style="width:210px; margin-right: 10px;">
         <input type="button" value="Sækja" onClick="reloadData();">
         <span id="in-progress" style="margin-left:10px;"></span>
      </span>
   </div>
   <hr style="margin:0">
   <div style="padding:25px; padding-top: 15px;">
      <canvas id="wfreq_chart_canvas"></canvas>
   </div>
</div>

<div class="panel panel-default">
   <div style="padding: 20px;">
   <div class="wfreq-header">
      <div style="width: 45px; height: 20px; background-color: #006eff; float: left; margin-right: 8px;"></div>
      <div style="font-weight: bold; line-height: 20px;">veira:kvk</div>
   </div>
   <div class="rank-article-items" style="display: block;">
                     
                     <span class="art-link"><a href="/page?id=1dbfeb82-8a2a-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Við&shy;búið að sums staðar verði ekki hægt að fram&shy;fylgja tveggja metra reglunni"><img src="/static/sources/visir.is.png" width="16" height="16" alt="Við&shy;búið að sums staðar verði ekki hægt að fram&shy;fylgja tveggja metra reglunni"></a></span>
                     
                     <span class="art-link"><a href="/page?id=1dd84236-8a2a-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="„Bakslag yrði slæmt fyrir sálarlífið“"><img src="/static/sources/ruv.is.png" width="16" height="16" alt="„Bakslag yrði slæmt fyrir sálarlífið“"></a></span>
                     
                     <span class="art-link"><a href="/page?id=1f9b299f-8a2a-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ómögulegt að segja til um undanþágur"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Ómögulegt að segja til um undanþágur"></a></span>
                     
                     <span class="art-link"><a href="/page?id=1f9b29ab-8a2a-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Blaðamannafundur vegna kórónuveiru"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Blaðamannafundur vegna kórónuveiru"></a></span>
                     
                     <span class="art-link"><a href="/page?id=352ed546-8a00-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Þetta er ekki tímabundið ástand"><img src="/static/sources/kjarninn.is.png" width="16" height="16" alt="Þetta er ekki tímabundið ástand"></a></span>
                     
                     <span class="art-link"><a href="/page?id=4e8e2ab8-8a2e-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Spyr hvort hægt sé að treysta tölum frá öðrum löndum – Eitthvað sem þarf að skoða mjög vel"><img src="/static/sources/kjarninn.is.png" width="16" height="16" alt="Spyr hvort hægt sé að treysta tölum frá öðrum löndum – Eitthvað sem þarf að skoða mjög vel"></a></span>
                     
                     <span class="art-link"><a href="/page?id=4e8e2ad7-8a2e-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Telur ferða&shy;þjónustuna ekki standa og falla með á&shy;kvörðunum ís&shy;lenskra yfir&shy;valda"><img src="/static/sources/visir.is.png" width="16" height="16" alt="Telur ferða&shy;þjónustuna ekki standa og falla með á&shy;kvörðunum ís&shy;lenskra yfir&shy;valda"></a></span>
                     
                     <span class="art-link"><a href="/page?id=50d0a94a-8a2e-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Stærri hópar en 2.000 ólíklegir"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Stærri hópar en 2.000 ólíklegir"></a></span>
                     
                     <span class="art-link"><a href="/page?id=6731f9ac-8a04-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Það er enginn að mæla gegn aðhaldi með fjölmiðlum"><img src="/static/sources/kvennabladid.is.png" width="16" height="16" alt="Það er enginn að mæla gegn aðhaldi með fjölmiðlum"></a></span>
                     
                     <span class="art-link"><a href="/page?id=8ac99988-8a1d-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bein útsending: Upplýsingafundur vegna kórónuveirunnar"><img src="/static/sources/visir.is.png" width="16" height="16" alt="Bein útsending: Upplýsingafundur vegna kórónuveirunnar"></a></span>
                     
                     <span class="art-link"><a href="/page?id=8ac9998b-8a1d-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Innan við tíu á sjúkrahúsi vegna Covid-19"><img src="/static/sources/visir.is.png" width="16" height="16" alt="Innan við tíu á sjúkrahúsi vegna Covid-19"></a></span>
                     
                     <span class="art-link"><a href="/page?id=b23d1f33-8a36-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Stendur ekki og fellur með opnun landamæra"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Stendur ekki og fellur með opnun landamæra"></a></span>
                     
                     <span class="art-link"><a href="/page?id=bbb54d04-8a21-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upplýsingafundur almannavarna"><img src="/static/sources/ruv.is.png" width="16" height="16" alt="Upplýsingafundur almannavarna"></a></span>
                     
                     <span class="art-link"><a href="/page?id=bd955ceb-8a21-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Beint: Blaðamannafundur vegna kórónuveiru"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Beint: Blaðamannafundur vegna kórónuveiru"></a></span>
                     
                     <span class="art-link"><a href="/page?id=d777c07a-8a4f-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Kári Stefánsson boðar nýja landbúnaðarstefnu"><img src="/static/sources/dv.is.png" width="16" height="16" alt="Kári Stefánsson boðar nýja landbúnaðarstefnu"></a></span>
                     
                     <span class="art-link"><a href="/page?id=e130b748-8a3a-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Svona var 59. upplýsingafundurinn vegna kórónuveirunnar"><img src="/static/sources/visir.is.png" width="16" height="16" alt="Svona var 59. upplýsingafundurinn vegna kórónuveirunnar"></a></span>
                     
                     <span class="art-link"><a href="/page?id=ecec7e02-8a25-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enginn Co&shy;vid-sjúk&shy;lingur lengur inni&shy;liggjandi á Akur&shy;eyri"><img src="/static/sources/visir.is.png" width="16" height="16" alt="Enginn Co&shy;vid-sjúk&shy;lingur lengur inni&shy;liggjandi á Akur&shy;eyri"></a></span>
                     
                     <span class="art-link"><a href="/page?id=eeb5e250-8a25-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Einstaklingsbundnar aðgerðir út þetta ár"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Einstaklingsbundnar aðgerðir út þetta ár"></a></span>
                     
                     <span class="art-link"><a href="/page?id=eeb5e254-8a25-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enginn inniliggjandi vegna veirunnar á Akureyri"><img src="/static/sources/mbl.is.png" width="16" height="16" alt="Enginn inniliggjandi vegna veirunnar á Akureyri"></a></span>
                     
                     <span class="art-link"><a href="/page?id=eef25672-8a25-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tveir greindust með smit"><img src="/static/sources/dv.is.png" width="16" height="16" alt="Tveir greindust með smit"></a></span>
                     
                     <span class="art-link"><a href="/page?id=eef2569f-8a25-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Mis&shy;skilningur að tveggja metra reglan muni falla úr gildi"><img src="/static/sources/frettabladid.is.png" width="16" height="16" alt="Mis&shy;skilningur að tveggja metra reglan muni falla úr gildi"></a></span>
                     
                     <span class="art-link"><a href="/page?id=eef256a0-8a25-11ea-aab8-04014c605401" onclick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Teymið við&shy;búið því að nýjum smitum fjölgi eftir 4. maí"><img src="/static/sources/frettabladid.is.png" width="16" height="16" alt="Teymið við&shy;búið því að nýjum smitum fjölgi eftir 4. maí"></a></span>
                     
                  </div>
</div>
</div>

{% endblock %}

{% block endscripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>

   var wfreqChart;

   function chartClicked(e, elms) {
      var info = {
         words: "",
         start: "",
         end: "",
      };
      fetchDetails(info);
      // for (var i = 0; i < elms.length; i++) {
      //    var setidx = elms[i]._datasetIndex;
      //    var didx = elms[i]._index;
      //    // console.log(setidx);
      //    // console.log(didx);
      //    console.log(wfreqChart.config.data.datasets[setidx].data[didx]);
      // }
   }

   function fetchDetails(info) {
      // Kill any previous ongoing request
      if (fetchDetails.request) {
         fetchDetails.request.abort();
      }
      // Make ajax call to web app, get full list of articles
      // Send request
      var params = {
      };
      fetchDetails.request = $.getJSON("/wordfreq_details?" + $.param(params), function(r) {
         console.log(r);
         // Update word input field w. string from server
         // $("#words").val(r["words"]);
         // // Stop progress indicator
         // $('#in-progress').html("");
         // Create elms w. article links
         // Inject into DOM
      });
   }

   function initChart(data) {
      Chart.defaults.global.defaultFontFamily = "Lato";
      var config = {
         type: 'line',
         data: data,
         options: {
            onClick: chartClicked,
            responsive: true,
            tooltips: {
               mode: 'index'
            },
            scales: {
               xAxes: [{
                  display: true,
                  scaleLabel: {
                     display: true
                  },
                  ticks: {
                     autoSkip: true,
                     autoSkipPadding: -5,
                  },
               }],
               yAxes: [{
                  display: true,
                  scaleLabel: {
                     display: true,
                     labelString: 'Tíðni orða'
                  },
                  ticks: {
                     suggestedMin: 0,
                  }
               }]
            }
         }
      };
      var wfreqCtx =  $('#wfreq_chart_canvas').get(0).getContext('2d');
      wfreqChart = new Chart(wfreqCtx, config);
   }

   function loadChartData(data) {
      wfreqChart.config.data = data;
      wfreqChart.update();
   }

   function initDatePicker() {
      var start = moment().subtract(89, 'days');
      var end = moment();

      var locale = {
        "format": "YYYY-MM-DD",
        "separator": " - ",
        "applyLabel": "Vista",
        "cancelLabel": "Hætta við",
        "fromLabel": "Frá",
        "toLabel": "til",
        "customRangeLabel": "Velja",
        "weekLabel": "V",
        "daysOfWeek": [
            "Sun",
            "Mán",
            "Þri",
            "Mið",
            "Fim",
            "Fös",
            "Lau"
        ],
        "monthNames": [
            "Janúar",
            "Febrúar",
            "Mars",
            "Apríl",
            "Maí",
            "Júní",
            "Júlí",
            "Ágúst",
            "September",
            "Oktober",
            "November",
            "Desember"
        ],
        "firstDay": 1
      };

      $('#daterange').daterangepicker({
         startDate: start,
         endDate: end,
         locale: locale,
         maxSpan: {
            "days": 365
         },
         ranges: {
           'Síðastliðin vika': [moment().subtract(6, 'days'), moment()],
           'Síðustu 30 dagar': [moment().subtract(29, 'days'), moment()],
           'Síðustu 3 mánuðir': [moment().subtract(89, 'days'), moment()],
           'Síðustu 6 mánuðir': [moment().subtract(182, 'days'), moment()],
           'Síðasta ár': [moment().subtract(364, 'days'), moment()],
         }
      });

      $('#daterange').on('apply.daterangepicker', reloadData);
   }

   function reloadData() {
      // Kill any previous ongoing request
      if (reloadData.request) {
         reloadData.request.abort();
      }
      // Set off progress indicator
      $('#in-progress').html("<span class='glyphicon glyphicon-restart glyphicon-spin'></span>");

      // The date range picker plugin produces string
      // containing two hyphen-separated ISO dates
      var res = $("#daterange").val().split(" - ");

      // Send request
      var params = {
         words: $("#words").val(),
         date_from: res[0].trim(),
         date_to: res[1].trim(),
      };
      reloadData.request = $.getJSON("/wordfreq?" + $.param(params), function(r) {
         // Update word input field w. string from server
         $("#words").val(r["words"]);
         // Stop progress indicator
         $('#in-progress').html("");
         loadChartData(r["data"]);
      });
   }

   $(document).ready(function() {
      // Activate the top navbar
      $("#navid-words").addClass("active");

      initDatePicker();
      initChart(null);
      reloadData();

      // Reload on Enter keypress while focus on input field
      $('#words').keypress(function(event){
         var keycode = (event.keyCode ? event.keyCode : event.which);
         if (keycode == '13'){
            reloadData();
         }
      });

   });

</script>

{% endblock %}

