

{% for word_dict in words %}
   <div class="panel panel-default" style="padding: 20px;">
      <div class="wfreq-header">
         <div style="width: 45px; height: 20px; background-color: {{ word_dict["color"] }}; float: left; margin-right: 8px;"></div>
         <div style="font-weight: bold; line-height: 20px;">{{ word_dict["desc"] }}</div>
      </div>
      <div class="rank-article-items" style="display: block;">
         {% for a in word_dict["articles"] %}
            <span class="art-link"><a href="{{ url_for('routes.page', id=a.id) | safe }}" 
               onClick="event.stopPropagation();" data-toggle="tooltip" data-placement="bottom" 
               title="{{ a.heading }}" rel="nofollow"><img 
               src="{{ url_for('static', filename = 'sources/' + a.domain + '.png') }}" 
               width="16" height="16" alt="{{ a.heading }}"/></a></span>
        {% endfor %}
      </div>
   </div>
{% endfor %}


   
                     
   
