
{% extends "container-normal.html" %}


{% block meta %}

{% endblock %}


{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>

{% endblock %}

{% block content %}


<div class="panel panel-default">
   <div class="panel-heading">
      Orðtíðni
   </div>
   <table class="table table-hover" id="dtable">
      <div style="padding:10px;">

         Orð: <input id="words" name="words" value="efnahagur,smit" style="margin-right: 20px;">
         Tímabil: <input name="daterange" id="daterange">
         <input type="button" value="Sækja" onClick="reloadData();">
      </div>
      <div style="padding:25px;">
               <canvas id="wfreq_chart_canvas"></canvas>
      </div>
   </table>
</div>

               


{% endblock %}

{% block endscripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>

   var wfreqChart;

   function initChart(data) {
      var config = {
         type: 'line',
         data: data,
         options: {
            responsive: true,
            tooltips: {
               mode: 'index'
            },
            scales: {
               xAxes: [{
                  display: true,
                  scaleLabel: {
                     display: true
                  }
               }],
               yAxes: [{
                  display: true,
                  scaleLabel: {
                     display: true,
                     labelString: 'Tíðni'
                  },
                  ticks: {
                     suggestedMin: 0,
                     // suggestedMax: 200,
                  }
               }]
            }
         }
      };

      var wfreqCtx =  $('#wfreq_chart_canvas').get(0).getContext('2d');
      // parseChartData.datasets[0].fill = true;
      wfreqChart = new Chart(wfreqCtx, config);
   }

   function loadChartData(data) {
      wfreqChart.config.data = data;
      wfreqChart.update();
   }

   function initDatePicker() {
      var start = moment().subtract(29, 'days');
      var end = moment();

      var locale = {
        "format": "DD/MM/YYYY",
        "separator": " - ",
        "applyLabel": "Vista",
        "cancelLabel": "Hætta við",
        "fromLabel": "Frá",
        "toLabel": "til",
        "customRangeLabel": "Sérsníða",
        "weekLabel": "V",
        "daysOfWeek": [
            "Sun",
            "Mán",
            "Þri",
            "Mið",
            "Fim",
            "Fös",
            "Lau"
        ],
        "monthNames": [
            "Janúar",
            "Febrúar",
            "Mars",
            "Apríl",
            "Maí",
            "Júní",
            "Júlí",
            "Ágúst",
            "September",
            "Oktober",
            "November",
            "Desember"
        ],
        "firstDay": 1
      };

      $('#daterange').daterangepicker({
         startDate: start,
         endDate: end,
         locale: locale,
         maxSpan: {
            "days": 365
         },
         ranges: {
           'Síðastliðin vika': [moment().subtract(6, 'days'), moment()],
           'Síðustu 30 dagar': [moment().subtract(29, 'days'), moment()],
           'Síðustu 3 mánuðir': [moment().subtract(89, 'days'), moment()],
         }
      });

      $('#daterange').on('apply.daterangepicker', reloadData);
   }

   function reloadData() {
      if (reloadData.request) {
         reloadData.request.abort();
      }
      // The date range picker plugin produces values of the form
      // "DD/MM/YYYY - DD/MM/YYYY" which we split into two date strings.
      var res = $("#daterange").val().split(" - ");

      var params = {
         words: $("#words").val(),
         date_from: res[0],
         date_to: res[1]
      }
      var qstr = $.param(params);
      reloadData.request = $.getJSON("/wordfreq?" + qstr, function(r) {
         loadChartData(r["data"]);
      });
   }


   $(document).ready(function() {
      // Activate the top navbar
      $("#navid-words").addClass("active");

      initDatePicker();

      var datapoints = [0, 20, 20, 60, 60, 120, 0, 180, 120, 125, 105, 110, 170];
      var datapoints2 = [1, 12, 21, 33, 69, 90, 19, 133, 99, 15, 75, 100, 70];

      var startingData = {
         labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
         datasets: [{
            label: 'A',
            data: datapoints,
            backgroundColor: 'rgba(0, 0, 0, 0)',
            fill: false,
            //cubicInterpolationMode: 'monotone'
            lineTension: 0
         }, {
            label: 'B',
            data: datapoints2,
            backgroundColor: 'rgba(0, 0, 0, 0)',
            fill: false,
            lineTension: 0
         }, {
            label: 'C',
            data: datapoints,
            backgroundColor: 'rgba(0, 0, 0, 0)',
            fill: false,
            lineTension: 0
         }]
      };
      initChart(startingData);
   });

</script>

{% endblock %}

