
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
         <a href="{{ url_for('locations') }}">
             Staðir
         </a>
      </li>
      <li role="presentation">
         <a href="{{ url_for('locations_icemap') }}">
             Íslandskort
         </a>
      </li>
      <li role="presentation" class="active">
         <a href="{{ url_for('locations_worldmap') }}">
            Heimskort
         </a>
      </li>
   </ul>
</div>


<!-- Map of Iceland -->
<div role="tabpanel" class="tab-pane active">

   <div class="panel panel-default table-responsive">

   <div class="panel-heading">
      <div class="headline hidden-xs">Lönd nýlega í fréttum vefmiðla</div>
      <div class="headline visible-xs-inline-block">Lönd í fréttum</div>
   </div>

   <div id="icemap" style="border:1px solid #ddd;"></div>

</div>

<!-- Article results when marker is clicked -->
<div class="results">
   <h3 class="results-title"></h1>
   <div class="results-body"></div>
</div>


{% endblock %}

{% block endscripts %}

<script type="text/javascript">
  
$(document).ready(function() {
   // Activate the top navbar
   $("#navid-locations").addClass("active");
   // Set up map
   //initMap();
});

</script>

{% endblock %}
